@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.tabs .item.active {
  text-shadow: 0 0 10px cyan;
}
.tabs .item:hover {
  text-shadow: 0 0 10px cyan;
}
.item-control:hover {
  text-shadow: 0 0 10px cyan;
}
.entity-name:hover,
.entity-name a:hover {
  text-shadow: 0 0 10px cyan;
}
.bh:hover,
.bh a:hover {
  text-shadow: 0 0 10px cyan;
}
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px cyan;
  cursor: pointer;
}
.element-toggle:hover {
  text-shadow: 0 0 10px cyan;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 5px cyan;
}
textarea:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  box-shadow: 0 0 5px cyan;
}



.elem-initial {
  align-self: flex-end;
}


.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-size-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-size-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-size-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-size-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-size-5 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-size-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flex-size-7 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.flex-size-8 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.flex-size-9 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.flex-size-10 {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

.flex-size-11 {
  -webkit-box-flex: 11;
  -ms-flex: 11;
  flex: 11;
}

.flex-size-12 {
  -webkit-box-flex: 12;
  -ms-flex: 12;
  flex: 12;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to bnb sheets */

.grenade-input {
  justify-content: center;
  max-width: 70%;
  font-size: smaller;
}
.grenade-input label{
  max-width: 40%;
}
.grenade-input input{
  max-width: 20px;
  text-align: center;
}

.gold-input {
  font-size: smaller;
  justify-content: center;
  max-width: 70%;
}
.gold-input label{
  max-width: 40%;
}
.gold-input input{
  max-width: 50%;
  text-align: center;
}

.bnb .item-form {
  font-family: "Roboto", sans-serif;
}

.bnb .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.bnb .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.bnb .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bnb .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.bnb .npc .sheet-header h1.char-name {
  height: 50px;
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.bnb .npc .sheet-header h5.char-type {
  height: 50px;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.bnb .npc .sheet-header h1 input,
.bnb .npc .sheet-header h5 input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.bnb .npc .sheet-header h1 input {
  width: 98%;
  margin-right: 0;
  border-bottom-right-radius: 0;
  padding-top: 18px;
}
.bnb .npc .sheet-header h5.char-type input {
  height: 48px;
  margin: 8px 0;
  text-align: right;
  font-size: large;
  margin-left: 0;
  border-bottom-left-radius: 0;
  padding-left: 0;
  padding-right: 8px;
  padding-top: 24px;
  font-style: italic;
}
.bnb .npc .healths-container,
.bnb .npc .npc-action-header {
  background-color: #c3c3c3;
  border-radius: 10px;
}
.bnb .npc .npc-action-header {
  width: 50%;
  font-size: large;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.bnb .npc-attribute label {
  font-weight: bold;
  z-index: 1;
}
.bnb .npc-attribute input {
  width: 50%;
  text-align: center;
  align-self: center;
  justify-self: center;
  z-index: 1;
}
.bnb .npc-attribute {
  position: relative;
}
.bnb .npc .bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 75px;
  overflow: hidden;
  overflow: visible;
  color: #c3c3c3;
}
.bnb .npc .npc-special-text textarea {
  border: 1px solid rgb(122, 121, 113);
}
.bnb .npc .weapon {
  display: flex;
  align-items: center;
}
.bnb .npc .weapon label {
  margin-right: 5px;
}

.bnb .npc .npc-action-label {
  font-weight: bold;
}
.bnb .npc .action-container {
  margin-bottom: 2px;
  border: 1px solid rgb(122, 121, 113);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0;
}
.bnb .npc .npc-action .action-header {
  display: flex;
  align-items: center;
  margin-bottom: -1px;
  border-bottom: 0;
}
.bnb .npc .npc-action .action-header input {
  font-style: italic;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.bnb .npc .npc-action .action-body textarea {
  border: 0;
  border-top: 1px solid #b5b3a4;
  background-color: rgba(0, 0, 0, 0);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.bnb .npc .npc-action .action-header .action-dice {
  border: 0;
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 5px;
  padding-left: 5px;
  font-size: large;
}


.bnb .sheet-header .xpBar {
  margin-bottom: 0px;
}

.xpBar:hover, .xpBar:focus {
  color: #000;
  text-shadow: 0 0 10px cyan;
}

.bnb .xpBar-max {
  background: #4b4347;
  height: 11px;
  min-height: 11px;
  margin: 1px;
}
.bnb .xpBar-max .xpBar-segment {
  border: 1px solid #10020f;
  height: 11px;
  min-height: 11px;
}
.bnb .xpBar-max .xpBar-segment .xpBar-progress {
  background-color: #82e4fb;
  height: 9px;
  min-height: 9px;
}

.bnb .xpBar .under-bar {
  justify-content: space-between;
}
.bnb .xpBar .per-seg-text {
  font-size: smaller;
}
.bnb .xpBar .per-seg-value {
  font-size: smaller;
  font-weight: bold;
}
.bnb .xpBar .under-bar .under-bar-left {
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
}
.bnb .xpBar .under-bar .under-bar-right {
  justify-content: flex-end;
  text-align: right;
  font-size: x-small;
  padding-right: 10px;
}
.bnb .xpBar .under-bar .under-bar-center {
  justify-content: flex-end;
  text-align: right;
  font-size: smaller;
  padding-right: 10px;
}

.bnb .xpBar-max .xpBar-segment:nth-child(n+2) {
  border-left: 0;
}

.bnb .healths {
  justify-content: center;
  align-items: center;
}
.bnb .healths .health {
  border: 1px solid #b5b3a4;
  float: left;
}
.bnb .healths .health:nth-child(n+2) {
  margin-left: -1px;
}
.health-icon {
  border: 0;
  height: 12px;
}
.bnb .healths .health .regen label {
  font-size: x-small;
}
.bnb .healths .health .regen input {
  font-size: smaller;
  width: 35px;
}
.loot-health {
  display: inline-flex;
  font-size: x-small;
  display: -webkit-inline-box;
}

.bnb .abilities {
  justify-content: center;
  align-items: center;
  margin-top: -1px;
}
.bnb .abilities .ability {
  border: 1px solid #b5b3a4;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.bnb .hover-pointer {
  cursor: pointer;
}
.bnb .abilities .ability:nth-child(n+2) {
  margin-left: -1px;
}

.bnb .abilities .ability .ability-mod {
  font-size: smaller;
}

.centerize {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.bnb .favored-section {
  border: 1px solid #b5b3a4;
}

.bnb .favored-header {
  font-weight: bold;
  font-size: larger;
}

.bnb .favored-body {
  font-size: smaller;
  align-items: center;
}

.bm-alert {
  align-self: center;
}

.bnb .favored-body input[type=checkbox] {
  -ms-transform: scale(.7); /* IE */
  -moz-transform: scale(.7); /* FF */
  -webkit-transform: scale(.7); /* Safari and Chrome */
  -o-transform: scale(.7); /* Opera */
  transform: scale(.7);
  padding: 10px;
}

.bnb .class-stats-section .melee-dice-header {
  font-weight: bold;
}
.bnb .class-stats-section .melee-dice-roll:hover {
  text-shadow: 0 0 10px cyan;
  cursor: pointer;
}
.bnb .class-stats-section {
  border: 1px solid #b5b3a4;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1px;
}
.bnb .class-stats-section .stat {
  border: 1px solid #b5b3a4;
}
.gun-char-stats-section {
  border: 1px solid #b5b3a4;
  border-top: 0;
  padding: 2px;
  margin-top: 1px;
}
.gun-char-stats-section .stat {
  border: 1px solid #b5b3a4;
}

.bnb .align-center {
  align-items: center;
}

.bnb .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.bnb .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.bnb .sheet-body,
.bnb .sheet-body .tab,
.bnb .sheet-body .tab .editor {
  height: 100%;
}

.bnb .builder-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  height: 32px;
  flex: 0 0 32px;
  margin: 4px 0;
  line-height: 32px;
  border-top: 1px solid #b5b3a4;
  border-bottom: 1px solid #b5b3a4;
}
.bnb .builder-common-container .current-xp-label,
.bnb .builder-common-container .current-hp-label,
.bnb .builder-common-container .badass-rank-label {
  font-weight: bold;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.bnb .builder-common-container .badass-rank-label {
  min-width: 100px;
  margin-left: 4px;
  margin-right: 2px;
}
.bnb .builder-common-container .current-xp-input, 
.bnb .builder-common-container .current-hp-input,
.bnb .builder-common-container .badass-rank-input {
  align-self: center;
  text-align: center;
  max-width: 55px;
}
.bnb .builder-common-container .current-xp-input {
  max-width: 60px; 
}
.bnb .builder-common-container .btn-manage {
  font-size: smaller;
}


.bnb .tox .tox-editor-container {
  background: #fff;
}
.bnb .tox .tox-edit-area {
  padding: 0 8px;
}

.bnb .resource-label {
  font-weight: bold;
}
.bnb .resource .traits {
  align-self: center;
}

.item-header {
  margin-bottom: 4px;
}

.item-body,
.item-sheet .item-body-large-field {
  margin-left: 2px;
  margin-right: 2px;
}
.item-body {
  justify-content: center;
  align-items: center;
}
.item-sheet .item-body-large-field {
  margin-top: 4px;
}
.item-body label {
  justify-content: center;
  align-items: center;
  font-weight: bold
}
.item-sheet .item-body-large-field label {
  font-weight: bold;
}
.item-sheet .item-body-large-field textarea {
  border-color: rgb(122, 121, 113);
}
.flex-right {
  align-items: flex-end;
  align-self: center;
}
.item-body-space label {
  padding-right: 4px;
}
.item-body-num label {
  text-align: right;
  padding-right: 4px;
}
.item-body-num input {
    text-align: center;
}
.item-body-num-50 input {
  width: 50%;
  text-align: center;
}
.max-width-50 {
  max-width: 50%;
}
.bnb .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.bnb .items-header > * {
  font-size: 14px;
  text-align: center;
}

.bnb .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bnb .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.bnb .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}



.bnb .items-list .item-name {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bnb .items-list .item-text {
  justify-content: flex-start;
  text-align: left;
}

.bnb .items-list .reward-text {
  justify-content: flex-start;
  text-align: left;
  padding-left: 6px;
  padding-right: 5px;
}

.bnb .items-list .item-name h3, .bnb .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.nowrap {
  flex-wrap: nowrap;
}

.acc-hits-container {
  border: 1px solid #b5b3a4;
  margin: 2px;
  padding: 2px;
}
.gun-acc-text {
  font-size: smaller;
  align-self: center;
}

.crit-hit {
  text-align-last: center;
  font-weight: bold;
}
.crit-hit .hit {
  color: darkblue;
  padding: 0;
  margin: 0;
}
.crit-hit .crit {
  color: darkred;
  padding: 0;
  margin: 0;
}
.crit-hit input {
  width: 20px;
}
.crit-hit .hit input{
  color: darkblue;
}
.crit-hit .crit input{
  color: darkred;
}

.gun-center-contain,
.gun-center-container {
  text-align-last: center;
  align-items: center;
}
.gun-center-contain,
.gun-center-container label{
  font-size: smaller;
}
.gun-center-container input{
  width: 20px;
  max-width: 20px;
}

.bnb .items-list .item-equip-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bnb .items-list .item-equip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bnb .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bnb .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.bnb .items-list .item-controls-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 1 0 7px;
  flex: 1 0 7px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.bnb .items-list .item-controls-small a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}


.bnb .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.bnb .items-list .item:last-child {
  border-bottom: none;
}

.bnb .items-list .item .item-name {
  color: #191813;
}

.bnb .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.bnb .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.bnb .items-list .item-prop-left {
  text-align: left;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.bnb .items-list .item-prop-right {
  text-align: right;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.bnb .items-list .item-prop-stack {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  font-size: 12px;
  align-self: flex-start;
}

.bnb .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.bnb .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.bnb .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.bnb .items-list .items-header .item-text {
  padding-left: 5px;
  text-align: left;
}

.bnb .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.bnb .item-effect {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 4px;
  justify-content: flex-start;
  align-content: flex-start;
}
.bnb .item-effect label {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-self: flex-start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}
.bnb .item-effect-stack {
  padding: 0 4px;
}
.bnb .item-effect-stack label {
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-self: flex-start;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.bnb .item-details {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #c9c7b8;
}

.bnb .item .item-equip label{
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
}

.bnb .effects .item .effect-source,
.bnb .effects .item .effect-duration,
.bnb .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.bnb .effects .item .effect-controls {
  border: none;
}

.bnb .header-hp {
  font-size: 12px;
}
.bnb .header-regen {
  font-size: 10px;
}
.bnb .healths-container {
  border: 1px solid #c9c7b8;
  margin-top: 3px;
  margin-bottom: 2px;
}
.bnb .hp-container {
  margin: 2px;
  border: 1px solid #c9c7b8;
}
.bnb .hp-values label {
  font-size: x-small;
}
.bnb .hp-title {
  font-weight: bold;
  align-self: center;
  padding-left: 2px;
  padding-bottom: 6px;
}
.bnb .damage-buttons {
  margin: 0 2px 3px;
  margin-top: 2px;
  width: 70%;
  align-self: center;
}
.bnb .hp-set-btn,
.bnb .hp-quick-regen-btn {
  max-height: 25px;
  font-size: smaller;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bnb .builder-common-container .badass-rank-container {
  text-align: center;
}

.badass-container {
  align-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #c9c7b8;
}
.badass-entity-container {
  font-size: smaller;
  padding: 2px;
  padding-top: 0;
}
.badass-container-inner-left,
.badass-container-inner-right {
  padding: 2px;
  flex: 2;
  align-items: center
}
.badass-container label,
.badass-container a {
  font-weight: bold;
  align-self: center;
}
.badass-container input {
  max-width: 30px;
  text-align: center;
}
.badass-container .badass-check label {
  font-size: smaller;
}

.attack-as-shared-container {
  max-height: 45px;
  max-height: 565px;
}
.attack-as-shared-container .attack-header-outer-container {
  margin-left: 3px;
  margin-right: -2px;
  border-top: 1px solid #c9c7b8;
  padding-right: 3px;
}
.attack-as-shared-container .as-btn-outer-container {
  margin-left: -2px;
  border-bottom: 1px solid #c9c7b8;
  padding-left: 3px;
}
.attack-as-shared-container .attack-header-container { 
  margin-top: 2px;
  margin-bottom: 0;
  border: 1px solid #c9c7b8;
  border-bottom: 0;
  padding: 2px;
}
.attack-as-shared-container .as-btn-container { 
  margin-bottom: 2px;
  border: 1px solid #c9c7b8;
  border-top: 0;
  padding: 2px;
}
.attack-as-shared-container .attack-header-inner-container {
  text-align: center;
  align-self: center;
}
.attacks-container {
  margin: 0 0 2px 3px;
  border: 1px solid #c9c7b8;
  border-top: 0;
  padding: 3px 2px 2px;
}
.attack-as-shared-container .attack-header-container label {
  font-weight: bold;
  text-align: center;
  align-self: center;
}
.attacks-container .attack-details-line {
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 300px;
}
.attack-block,
.attack-block h4,
.attack-block label,
.attack-block div {
  pointer-events: fill;
  cursor: pointer;
}
.attack-block:hover {
  text-shadow: 0 0 10px cyan;
  box-shadow: 0 0 5px cyan;
}
.attacks-container .gun-icon {
  height: 15px;
  border: 0;
  margin-right: 4px;
}

.attacks-container .attack-details-line h4 {
  font-weight: bold;
  margin: 0;
  padding-left: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.item-content {
  align-items: center;
}

.pointer-cursor {
  cursor: pointer;
}

.reminder-text {
  color: darkgray;
  margin-top: 4px;
  margin-bottom: 5px;
  padding: 0;
}
.stat-mod-mod-reminder-text,
.elem-reminder-text {
  color: gray;
  font-size: x-small;
  font-style: italic;
}
.stat-mod-mod-header {
  border: 1px solid #b5b3a4;
  border-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}
.stat-mod-mod-title {
  margin-top: 5px;
  font-weight: bold;
  align-self: center;
}
.stat-mod-mod-reminder-text {
  align-self: center;
}

.bolded {
  font-weight: bold;
}

.italicized {
  font-style: italic;
}

.medium-text-overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-start;
}
.large-text-overflow-hidden {
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-start;
}

.bnb .class-background {
  font-size: 13px;
  align-items: center;
}

.bnb .action-skill-header {
  margin-top: 5px;
}

.bnb .bio-header {
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  padding-top: 3px;
}

.bnb .bio-description:nth-child(n+2) {
  margin-left: 3px;
}

.bnb .action-skill {
  justify-content: center;
}
.bnb .action-skill .secondary-text {
  font-size: smaller; 
}
.bnb .action .action-skill {
  align-items: center;
  max-width: 250px;
}
.bnb .action-skill-item {
  border: 1px solid #c9c7b8;

}
.bnb .action-skill .uses-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bnb .action-skill .uses-container input {
  width: 20px;
  font-size: smaller;
}
.bnb .action-skill .uses-container label {
  align-self: center;
}

.bnb .check-text {
  font-weight: bold;
}
.bnb .check-text-header {
  text-align: center;
  padding-top: 4px;
}
.bnb .check-text-stat {
  font-size: x-small;
}
.bnb .check-container-container {
  border: 1px solid #c9c7b8;
}
.bnb .check-container {
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 2px;
}
.bnb .check-num-label {
  font-size: xx-small;
  text-align: center;
  padding-top: 2px;
}
.bnb .cc2 {
  justify-content: center;
  align-items: center;
}
.bnb .check-container-right {
  border-left: 1px solid #c9c7b8;
  flex: 4;
}
.bnb .check-container-left {
  flex: 9;
}
.bnb .check-segment-header,
.bnb .check-segment-header-right,
.bnb .check-segment-header-left {
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
.bnb .check-text-operation {
  font-size: smaller;
  max-width: fit-content;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 14px;
}
.bnb .check-container input {
  text-align: center;
  font-size: smaller;
  max-width: 40px;
}

.kinetic-color {
  color: rgb(76, 76, 76);
}
.incendiary-color {
  color: rgb(213, 59, 49);
}
.corrosive-color {
  color: rgb(141, 157, 62);
}
.shock-color {
  color: rgb(113, 148, 205);
}
.explosive-color {
  color: rgb(234, 70, 134);
}
.radiation-color {
  color: rgb(228, 170, 22);
}
.cryo-color {
  color: rgb(18, 152, 185);
}
.incendiation-color {
  color: rgb(167, 78, 101);
}
.corroshock-color {
  color: rgb(73, 125, 135);
}
.crysplosive-color {
  color: rgb(115, 105, 160);
}
.shield-stats-container{
  border: 1px solid darkgrey;
  margin-top: 2px;
  padding: 2px;
}
.shield-stats-container-left {
  margin-right: 1px;
}
.shield-stats-container-right {
  margin-left: 1px;
}
.elements-container {
  border: 1px solid darkgrey;
  margin-top: 2px;
  margin-bottom: 2px;
}
.element-container {
  margin-left: 5px;
  margin-right: 5px;
}
.element-label {
  color: var(--elementColor);
}
.element-label-smaller {
  font-size: smaller;
  color: var(--elementColor);
  cursor: pointer;
}
.element-toggle {
  align-items: center;
}
.element-damage input {
  height: 17px;
}

.element-damage input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}
.element-damage input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
}
.element-damage input::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
}
.element-selector-icon {
  border: 0;
  width: 13px;
  height: 13px;
}
.element-selector-icon-disabled {
  filter: grayscale(100%);
  border: 0;
  width: 13px;
  height: 13px;
}
.element-resist-icon {
  border: 0;
  height: 12px;
}
.loot-element-damage {
  font-size: smaller;
}
.element-damage-icon {
  border: 0;
  height: 12px;
  padding-left: 2px;
}
.element-damage-plus {
  padding-left: 2px;
  padding-right: 2px;
}
.element-damage-damage {
  padding-left: 3px;
}
.resist-label {
  padding-left: 5px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
}
.resist-label label{
  padding-left: 5px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
}
.elemental ul { 
  height: 48px;
  width: 100px;
  max-width: 100px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.elemental ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;

  z-index: 2;
  text-align: center;
}
.elemental ul li:not(.init) {
  float: left;
  width: 98px;
  padding: 7px 7px;
  display: none;
}
.elemental li.init { 
  cursor: pointer;
  padding: 15px 7px;
  height: 48px;
}
.elemental ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}
.twocol ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.bnb .gun-row,
.bnb .damage-row {
  display: flex;
  font-size: smaller;
}
.bnb .hits-and-crits {
  padding-right: 4px;
}
.bnb .gun-row .gun-detail-header {
  font-weight: bold;
}
.bnb .gun-header-line label{
  justify-content: flex-end;
}
.bnb .gun-row .critshits-icon {
  border: 0;
  height: 12px;
  padding-right: 2px;
}
.bnb .gun-row label {
  padding: 0px 2px;
}
.bnb .gun-row-crits {
  color: darkred;
  font-weight: bold;
}
.bnb .gun-row-hits {
  color: darkblue;
  font-weight: bold;  
}
.bnb .gun-row .post-crithit-details {
  align-items: center;
  padding: 5px;
}
.gun-type ul { 
  height: 20px;
  width: 130px;
  max-width: 130px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.gun-type ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;
  z-index: 2;
  text-align: center;
}
.gun-type ul li:not(.init) {
  float: left;
  width: 130px;
  padding: 3px 7px;
  margin-top: -1px;
  display: none;
}
.gun-type li.init { 
  cursor: pointer;
  padding: 1px 7px;
  height: 20px;
}
.gun-type ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}
.gun-type .gtb {
  color: white;
  background-color: #a5a49f;
}



.rarity ul { 
  height: 48px;
  width: 100px;
  max-width: 100px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.rarity ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;

  z-index: 2;
  text-align: center;
}
.rarity ul li:not(.init) {
  float: left;
  width: 98px;
  padding: 7px 7px;
  margin-top: -1px;
  display: none;
}
.rarity li.init { 
  cursor: pointer;
  padding: 15px 7px;
  height: 48px;
}
.rarity ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}

a#submit { z-index: 1; }

.item-sheet {
  justify-content: space-between;
}

.rarity .common {
  color: white;
  background-color: #a5a49f;
}
.rarity .uncommon {
  color: white;
  background-color: #0ea11f;
}
.rarity .rare {
  color: white;
  background-color: #00a0ff;
}
.rarity .epic {
  color: white;
  background-color: #7000a4;
}
.rarity .legendary {
  color: white;
  background-color: #ffa500;
}

.font-rarity {
  color: var(--rarityColor);
}
.item-form-rarity {
  padding: 3px;
  border: 2px solid var(--rarityColor);
}
.item-rarity-border {
  padding: 3px;
  border: 1px solid var(--rarityColor);
}
.item-rarity-outline {
  padding: 3px;
  outline: 1px solid var(--rarityColor);
  border: 0;
}
.loot-rarity-fade-border {
  border-style: solid;
  border-image: linear-gradient(var(--rarityColor), transparent) 1;
  border-bottom: 0;
}

.loot-inventory-header-container {
  align-self: center;
}
.loot-inventory-header {
  font-size: larger;
  font-weight: bold;
  justify-content: center;
}

.red-text input {
  color: darkred;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  margin-top: 5px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.red-text-description textarea {
  margin-top: -1px;
  border-color: rgb(122, 121, 113);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.fs4 {
  flex: 4 4 40%;
}

.item-tag-group {
  padding-left: 2px;
  padding-right: 2px;
}






.hp-values {
  align-self: center;
}






.total-focus {
  font-size: large;
  font-weight: bold;
}

.set-level-dialog .set-level,
.attribute-gain-dialog .attribute-gain {
  text-align: center;
  align-items: center;
}
.set-level-dialog .set-level label,
.attribute-gain-dialog .attribute-gain label {
  font-weight: bold;
}

.attack-dialog,
.check-dialog {
  padding-bottom: 8px;
}
.attack-dialog .attack-dialog-header label,
.check-dialog .check-dialog-header label {
  font-weight: bold;
  font-size: larger;
}

.attack-dialog .attack-dialog-body .math-sign,
.check-dialog .check-dialog-body .math-sign {
  padding: 4px 2px 0 2px;
}

.attack-dialog .attack-dialog-body label,
.check-dialog .check-dialog-body label {
  font-size: smaller;
}

.attack-dialog .attack-dialog-body input,
.check-dialog .check-dialog-body input {
  width: 65px;
}

.attack-dialog .attack-dialog-favored {
  text-align: center;
  align-items: center;
  align-self: center;
}
.attack-dialog .attack-dialog-favored label {
  font-weight: bold;
}

.attack-dialog .modifiers,
.check-dialog .modifiers {
  border: 1px solid rgb(122, 121, 113);
}
.check-dialog .difficulty {
  border: 1px solid rgb(122, 121, 113);
  border-left: 0;
}

.check-dialog .check-type {
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.action-skill-dialog .name-section,
.action-skill-dialog .uses-section {
  margin: 0 2px;
}
.action-skill-dialog label {
  font-weight: bold;
  align-self: center;
}
.action-skill-dialog .uses-input input {
  width: 30px;
  text-align: center
}

.damage-dialog .damage-dialog-header label {
  font-weight: bold;
  font-size: larger;
}
.damage-dialog .damage-dialog-elements label,
.damage-dialog .damage-dialog-body label {
  font-weight: bold;
  align-self: center;
}
.damage-dialog .damage-dialog-body {
  padding-top: 3px;
}
.damage-dialog .damage-dialog-elements {
  padding: 2px;
}
.damage-dialog .element-radio-choice {
  padding: 2px;
}

.chat-roll-result .hit-bonus {
  text-align: center;
  font-size: smaller;
  padding-bottom: 2px;
}

.chat-roll-result .red-text {
  color: darkred;
  font-weight: bold;
  font-style: italic;
}
.success-text {
  color: darkgreen;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
.failure-text {
  color: darkred;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.damage-results-container {
  text-align: center
}
.damage-results-container .result-header {
  font-weight: bold;
  font-size: larger;
}
.damage-results-container .result-label {
  font-size: xx-large;
}
.damage-results-container .element-damage-icon {
  height: 22px;
}

.badass-results-container {
  text-align: center
}
.badass-results-container .result-header {
  font-weight: bold;
  font-size: larger;
}
.badass-results-container .result-label {
  font-size: xx-large;
}

