.health-type ul,
.gun-type ul { 
  height: 20px;
  width: 130px;
  max-width: 130px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.health-type ul {
  width: 110px;
}
.health-type ul li,
.gun-type ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;
  z-index: 2;
  text-align: center;
}
.health-type ul li:not(.init),
.gun-type ul li:not(.init) {
  float: left;
  width: 130px;
  padding: 3px 7px;
  margin-top: -1px;
  display: none;
}
.health-type ul li:not(.init) {
  width: 110px;
}
.health-type li.init,
.gun-type li.init { 
  cursor: pointer;
  padding: 1px 7px;
  height: 20px;
}
.health-type ul li:not(.init):hover, ul li.selected:not(.init),
.gun-type ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}
.health-type .health-type-option,
.gun-type .gtb {
  color: white;
  background-color: #a5a49f;
}

.rarity ul { 
  height: 48px;
  width: 100px;
  max-width: 100px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.rarity ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;
  z-index: 3;
  text-align: center;
}
.rarity ul li:not(.init) {
  float: left;
  width: 98px;
  padding: 7px 7px;
  margin-top: -1px;
  display: none;
}
.rarity li.init { 
  cursor: pointer;
  padding: 15px 7px;
  height: 48px;
}
.rarity ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}

a#submit { z-index: 1; }

.item-dropdown-group {
  margin-top: -1px;
}
.item-dropdown-group .item-dropdown-header {
  padding: 1px 5px;
}
.item-dropdown-group .item-dropdown-body {
  padding: 2px 5px;
  width: 100%;
}

.item-dropdown-group .item-dropdown-body .health-protection-details {
  font-size: 16px;
}
.item-dropdown-group .item-dropdown-body .health-protection-details .recovery-rate{
  font-size: small;
}
.item-dropdown-group .item-dropdown-body .level-and-guild {
  text-align: right;
}
.item-dropdown-group .item-dropdown-body .item-cost {
  text-align: right;
  margin-right: 4px;
}

.item-dropdown-group.no-rarity {
  border: 1px rgb(122, 121, 113) solid;
}
.item-dropdown-group .item-dropdown-body.no-rarity {
  border-top: 1px rgb(193, 192, 184) solid;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .red-text {
  margin-top: 2px;
  color: darkred;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.bnb .items-list .item-dropdown-group .item-dropdown-body .red-text-notes {
  padding-bottom: 5px;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .icons-container {
  margin-top: -24px;
}
.bnb .items-list .item-dropdown-group .item-dropdown-body .gun-icon {
  border: 0;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .hits-icon {
  border: 0;
}
.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crits-icon {
  border: 0;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit.title {
  align-self: center;
  text-align: center;
  z-index: 5;
}
.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit-acc.title {
  text-align: left;
  text-align-last: left;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit.hit.detail {
  text-align: center;
  color: var(--hits);
}
.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit.crit.detail {
  text-align: center;
  color: var(--crits);
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid darkgrey;
  border-radius: 7px;
  padding: 3px;
  padding-left: 4px;
  font-size: 16px;
}



.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit.hit.title,
.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit.crit.title {
  position: relative; /* Establish a stacking context */
  z-index: 3; /* Bring the text to the foreground */
  font-size: 10px;
  color: white;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit-label-icon {
  position: relative;
  text-align: center;
}

.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .hits-icon,
.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crits-icon {
  --side-length: 31px;
  position: absolute;
  top: -4px;
  left: calc(50% - var(--side-length) / 2);
  width: var(--side-length);
  height: var(--side-length);
  z-index: 1; 
}
.bnb .items-list .item-dropdown-group .item-dropdown-body .hits-and-crits-container .crit-hit-top-row {
  margin-top: 6px;
}