.health-type ul,
.gun-type ul { 
  height: 20px;
  width: 130px;
  max-width: 130px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.health-type ul {
  width: 110px;
}
.health-type ul li,
.gun-type ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;
  z-index: 2;
  text-align: center;
}
.health-type ul li:not(.init),
.gun-type ul li:not(.init) {
  float: left;
  width: 130px;
  padding: 3px 7px;
  margin-top: -1px;
  display: none;
}
.health-type ul li:not(.init) {
  width: 110px;
}
.health-type li.init,
.gun-type li.init { 
  cursor: pointer;
  padding: 1px 7px;
  height: 20px;
}
.health-type ul li:not(.init):hover, ul li.selected:not(.init),
.gun-type ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}
.health-type .health-type-option,
.gun-type .gtb {
  color: white;
  background-color: #a5a49f;
}

.rarity ul { 
  height: 48px;
  width: 100px;
  max-width: 100px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.rarity ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;
  z-index: 3;
  text-align: center;
}
.rarity ul li:not(.init) {
  float: left;
  width: 98px;
  padding: 7px 7px;
  margin-top: -1px;
  display: none;
}
.rarity li.init { 
  cursor: pointer;
  padding: 15px 7px;
  height: 48px;
}
.rarity ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}

a#submit { z-index: 1; }

.item-dropdown-group {
  margin-top: -1px;
}
.item-dropdown-group .item-dropdown-header {
  padding: 1px 5px;
}
.item-dropdown-group .item-dropdown-body {
  padding: 2px 5px;
  width: 100%;
}

.item-dropdown-group.no-rarity {
  border: 1px rgb(122, 121, 113) solid;
}
.item-dropdown-group .item-dropdown-body.no-rarity {
  border-top: 1px rgb(193, 192, 184) solid;
}