
.element-toggle-container {
  justify-content: space-evenly;
}
.element-list-container {
  margin-top: 8px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4px;
}
.element-list-container > div {
  flex: 0 1 135px; /* nice */
}
.element-list-container > div > img {
  margin-right: 2px;
}
.element-list-container > div > label {
  font-size: smaller;
  font-weight: bold;
}
.element-list-container > div > input {
  font-size: smaller;
  height:17px;
  min-width:49px;
  width:49px;
}

/*wtf is going on below here.*/
.take-damage-element-selector-icon {
  border: 0;
  height: 12px;
  width: 12px;
  max-width: 12px;
}
.element-selector-icon {
  border: 0;
  height: 18px;
  width: 18x;
  max-width: 19px;
}
.element-input-label-icon {
  border: 0;
  height: 15px;
  width: 15px;
  max-width: 16px;
}
.element-selector-icon-medium {
  border: 0;
  height: 20px;
}

.element-toggle:hover {
  text-shadow: 0 0 10px var(--highlight-primary);
  cursor: pointer;
}

.element-type-icon {
  border: 0;
  padding: 0;
  height: 1em;
}
.element-roll-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice-roll .dice .part-total.damage-type {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}


.dice-element-list {
  display: flex;
}
.dice-element-list.shield-mini-resists {
  justify-content: center;
}
.dice-element-single {
  display: flex;
}
.dice-element-single.element-resist-text {
  padding-inline: .15em;
}
.dice-element-list .element-damage-plus {
  padding: 0 .15em;
}

.nowrap-element-icon {
  white-space: nowrap;
}

.element-damage-nowrap-label {
  white-space: nowrap;  
}

.element-damage-damage {
  padding-left: 3px;
}
.elements-container {
  border: 1px solid darkgrey;
  margin-top: 2px;
  margin-bottom: 2px;
}
.element-container {
  margin-left: 5px;
  margin-right: 5px;
}

.element-toggle {
  align-items: center;
}

.resist-label {
  padding-left: 5px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
}
.resist-label label {
  padding-left: 5px;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
}
.elemental ul { 
  height: 48px;
  width: 100px;
  max-width: 100px;
  border: 1px rgb(122, 121, 113) solid;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  list-style-type: none;
  padding: 0;
}
.elemental ul li {
  cursor: pointer;
  border: 1px rgb(122, 121, 113) solid;
  position: relative;

  z-index: 2;
  text-align: center;
}
.elemental ul li:not(.init) {
  float: left;
  width: 98px;
  padding: 7px 7px;
  display: none;
}
.elemental li.init { 
  cursor: pointer;
  padding: 15px 7px;
  height: 48px;
}
.elemental ul li:not(.init):hover, ul li.selected:not(.init) {
  text-decoration: underline;
}


