.italics {
  font-style: italic;
}
.bolded {
  font-weight: bold;
}

.font-xx-small {
  font-size: xx-small;
}
.font-x-small {
  font-size: x-small;
}
.font-smaller {
  font-size: smaller;
}
.font-small {
    font-size: small;
  }
.font-large {
    font-size: large;
}
.font-larger {
    font-size: larger;
}
.font-x-large {
    font-size: x-large;
}
.font-xx-large {
    font-size: xx-large;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-size-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-size-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-size-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-size-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-size-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-size-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flex-size-7 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.flex-size-8 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.flex-size-9 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.flex-size-10 {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

.flex-size-11 {
  -webkit-box-flex: 11;
  -ms-flex: 11;
  flex: 11;
}

.flex-size-12 {
  -webkit-box-flex: 12;
  -ms-flex: 12;
  flex: 12;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.divided-input-left {
  justify-content: right;
}
.divided-input-center {
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}
.divided-input-right {
  justify-content: left;
}
.divided-input-left input,
.divided-input-left input:disabled {
  border: 1px solid var(--color-border-light-tertiary);
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.divided-input-center input,
.divided-input-center input:disabled {
  border: 1px solid var(--color-border-light-tertiary);
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  width: 0;
  max-width: unset;
}
.divided-input-right input,
.divided-input-right input:disabled {
  border: 1px solid var(--color-border-light-tertiary);
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}