.bnb {
  .npc {
    .sheet-header {
      h1.char-name {
        height: 50px;
        -webkit-box-flex: 4;
        -ms-flex: 4;
        flex: 4;
      }
      h5.char-type {
        height: 50px;
        margin: 0;
        padding: 0;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
      h1 input,
      h5 input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
      h1 input {
        width: 98%;
        margin-right: 0;
        border-bottom-right-radius: 0;
        padding-top: 18px;
      }
      h5.char-type input {
        height: 48px;
        margin: 8px 0;
        text-align: right;
        font-size: large;
        margin-left: 0;
        border-bottom-left-radius: 0;
        padding-left: 0;
        padding-right: 8px;
        padding-top: 24px;
        font-style: italic;
      }
    }

    .npc-action-header {
      width: 50%;
      font-size: large;
      font-weight: bold;
      margin-top: .25em 0; /*top/bottom left/right*/
      border-radius: 0 10px 10px 0; /* top-left | top-right | bottom-right | bottom-left */
      padding: 3px 0 3px 7px; /*top right bottom left*/
      background-color: #c3c3c3;
    }

    .bg-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 75px;
      overflow: hidden;
      overflow: visible;
      color: #c3c3c3;
    }

    .npc-special-text textarea {
      border: 1px solid rgb(122, 121, 113);
    }

    .weapon {
      display: flex;
      align-items: center;

      label {
        margin-right: 5px;
      }
    }

    .npc-action-label {
      font-weight: bold;
    }

    .action-container {
      margin-bottom: 2px;
      border: 1px solid rgb(122, 121, 113);
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      padding: 0;
    }

    .npc-action {
      .action-header {
        display: flex;
        align-items: center;
        margin-bottom: -1px;
        border-bottom: 0;

        input {
          font-style: italic;
          border: 0;
          background-color: rgba(0, 0, 0, 0);
          border-top-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .action-dice {
          border: 0;
          border-bottom: 0;
          background-color: rgba(0, 0, 0, 0);
          padding-right: 5px;
          padding-left: 5px;
          font-size: large;
        }
        a {
          padding-right: .25em;
        }
      }

      .action-body textarea {
        border: 0;
        border-top: 1px solid #b5b3a4;
        background-color: rgba(0, 0, 0, 0);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .add-npc-action {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      align-self: center;
      text-align: end;
      padding-right: .25em;

      a {
        width: fit-content;

        i {
          padding-top: 0.1em;
          padding-right: 0.2em;
        }
      }
    }
  }

  .npc-attribute {
    position: relative;

    label {
      font-weight: bold;
      z-index: 1;
    }
    input {
      width: 50%;
      text-align: center;
      align-self: center;
      justify-self: center;
      z-index: 1;
    }
  }
}

.dialog .dialog-content .npc-action-confirmation {
  text-align: center;

  .bnb-switch {
    margin: 0.2em auto;
  }

  .whisper-toggle label {
    margin-left: .1em;
  }
}
