<div for="{{element}}-radio" class="element-radio-choice flexrow">
  <input type="radio" id="{{element}}-radio" name="{{selection}}-element" 
  value="{{element}}" alt="{{element}}" data-element="{{element}}"
  {{#if checked}}checked{{/if}} >
  <label for="{{element}}-radio" alt="{{element}}">
    <img class="element-toggle take-damage-element-selector-icon" alt="{{element}}" title="{{capitalize element}}"
    src="systems/bunkers-and-badasses/assets/elements/{{element}}.png" />
  </label>
</div>