<div class="bnb">
  <div class="floating-tool common-counters flexrow">
    
    <div class="component-controls flexrow">
      <a class="drag-handle"><i class="fas fa-grip-horizontal"></i></a>
    </div>
    
    <div class="counter">
      <h3>Mayhem</h3>
      <div class="input-controls flexrow">
        <button {{^if canEdit}}style="visibility: hidden"{{/if}} class="decrease">-</button>
        <input class="flex-size-2" type="number" data-type="mayhem" value="{{mayhem}}" {{^if canEdit}}disabled{{/if}}>
        <button {{^if canEdit}}style="visibility: hidden"{{/if}} class="increase">+</button>
      </div>
    </div>
    
  </div>
</div>