<div class="action-skill-dialog flexcol">
  <div class="flexrow">
    <div class="flexrow name-section">
      <label for="as-name" class="">Action Skill</label>
      <input id="as-name" class="" type="text" data-dtype="Text" value="{{actionSkill.name}}" onclick="this.select()" />
    </div>
    <div class="flexrow uses-section">
      <label for="as-uses-value">Activations</label>
      <div class="uses-input">
        <input id="as-uses-value" class="uses-num" type="number" data-dtype="Number"
        value="{{actionSkill.uses.value}}" onclick="this.select()" />
        <label> / </label>
        <input id="as-uses-max" class="uses-num" type="number" data-dtype="Number"
        value="{{actionSkill.uses.max}}" onclick="this.select()" />
      </div>
    </div>
  </div>
  <div class="flexrow">
    <label for="as-description">Description</label>
    <input id="as-description" class="flex-size-3" type="text" data-dtype="Text"
    value="{{actionSkill.description}}" placeholder="Description" />
  </div>
  <div class="flexrow">
    <label for="as-notes">Notes</label>
    <input id="as-notes" class="flex-size-3" type="text" data-dtype="Text"
    value="{{actionSkill.notes}}" placeholder="Extra Notes" />
  </div>
</div>