<div class="flexcol attack-dialog">
  <div class="flexrow attack-dialog">

    <div class="flexcol flex-size-2 flex-group-center modifiers">
      <div class="flexrow attack-dialog-header">
        <label>{{type}} Attack Roll Bonuses</label>
      </div>
      <div class="flexrow attack-dialog-body">
        {{^if showFavored}}
        <div class="flexcol">
          <input id="mod" class="" value="{{attack.value}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="mod">{{attack.stat}} {{#if isBadass}}<span title="Badass!" class="badass">stat</span>{{else}}mod{{/if}}</label>
        </div>
        <label class="math-sign">+</label>
        {{/if}}
        {{#if showGearMod}}
        <div class="flexcol">
          <input id="gear" class="" value="{{attack.gear}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="gear">gear bonus</label>
        </div>
        <label class="math-sign">+</label>
        {{/if}}
        <div class="flexcol">
          <input id="misc" class="" value="{{attack.misc}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="misc">misc</label>
        </div>
        <label class="math-sign">+</label>
        <div class="flexcol">
          <input id="effects" class="" value="{{attack.effects}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="effects">effects</label>
        </div>
        <label class="math-sign">+</label>
        <div class="flexcol">
          <input id="extra" class="" value=""
          type="number" data-dtype="Number" />
          <label for="extra">extra bonus</label>
        </div>
      </div>
    </div>

  </div>

  {{#if showFavored}}
  <div class="flexrow attack-dialog-favored">
    <label for="favored-checkbox" class="flex-size-4">Favored Weapon or Element?</label>
    <input id="favored-checkbox"
      value="{{favored}}"
      type="checkbox" data-dtype="Boolean" {{#if favored}}checked{{/if}} />
    <span class="flex-size-2">
      {{#if isBadass}}
      (+<span title="Badass!" class="badass">{{attack.value}}</span> {{attack.stat}} <span title="Badass!" class="badass">stat</span>)
      {{else}}
      (+{{attack.value}} {{attack.stat}} mod)
      {{/if}}
    </span>
  </div>
  {{/if}}
  
</div>