<div class="flexcol check-dialog">
  <div class="flexrow check-dialog">

    <div class="flexcol flex-size-3 flex-group-center modifiers">
      <div class="flexrow check-dialog-header">
        <label>{{bonusesTitle}}</label>
      </div>
      <div class="flexrow check-dialog-body">
        {{^if showFavored}}
        <div class="flexcol">
          {{#if isBadass}}
          <input id="mod" title="Badass!" class="badass" value="{{check.value}}" type="number" data-dtype="Number" disabled />
          {{else}}
          <input id="mod" class="" value="{{check.value}}" type="number" data-dtype="Number" disabled />
          {{/if}}
          <label for="mod">{{check.stat}} {{#if isBadass}}<span title="Badass!" class="badass">stat</span>{{else}}mod{{/if}}</label>
        </div>
        <label class="math-sign">+</label>
        {{/if}}
        {{#if showGearMod}}
        <div class="flexcol">
          <input id="gear" class="" value="{{check.gear}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="gear">gear</label>
        </div>
        <label class="math-sign">+</label>
        {{/if}}
        <div class="flexcol">
          <input id="misc" class="" value="{{check.misc}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="misc">misc</label>
        </div>
        <label class="math-sign">+</label>
        <div class="flexcol">
          <input id="effects" class="" value="{{check.effects}}"
          type="number" data-dtype="Number"
          disabled />
          <label for="effects">effects</label>
        </div>
        <label class="math-sign">+</label>
        <div class="flexcol">
          <input id="extra" class="" value=""
          type="text" data-dtype="String" />
          <label for="extra">extra</label>
        </div>
      </div>
    </div>

    <div class="flexcol flex-group-center difficulty" 
    {{^if showDifficulty}}hidden="hidden" style="display:none;"{{/if}} >
      <div class="flexrow check-dialog-header">
        <label for="difficulty">Difficulty</label>
      </div>
      <div class="flexcol check-dialog-body">
        <input id="difficulty" class="" value="{{defaultDifficulty}}"
        type="number" data-dtype="Number" />
        <label for="difficulty">difficulty value</label>
      </div>
    </div>

  </div>

  {{#if promptCheckType}}
  <div class="flexrow check-type">
    <label for="check-type">Check Type:</label>
    <input id="check-type" class="flex-size-3" value="" placeholder='e.g. "Diplomacy"' type="text" data-dtype="String" />
  </div>
  {{/if}}
</div>