<div class="bnb">
  <div class="damage-confirmation flexcol" data-is-nat-20="{{isNat20}}">

    <label>Confirm damage for {{item.name}} attack...</label>
    {{#if isMeleeAttack}}
    <div class="damage-confirmation">
      <span class="double-damage-text">Double damage?
      </span>
      {{#if doubleDamage}}
      <input type="checkbox" id="double-damage" name="double-damage" checked />
      {{else}}
      <input type="checkbox" id="double-damage" name="double-damage" />
      {{/if}}
    </div>
    {{/if}}


    {{#if isShootingAttack}}      
    <div class="flexrow damage-crithits">
      <div class="container" for="{{attackType}}-hits-input">
        <img id="hits" alt="Hits" class="critshits-icon" for="{{attackType}}-hits-input"
          src="systems/bunkers-and-badasses/assets/weapons/hits.svg" />
        <input id="{{attackType}}-hits-input" class="hits hits-number flex-size-1" 
          type="number" type="Int" value="{{hits}}" placeholder="" onfocus="this.select()"/>
      </div>
      <div class="container" for="{{attackType}}-crits-input">
        <img id="crits" alt="Crits" class="critshits-icon" for="{{attackType}}-crits-input"
          src="systems/bunkers-and-badasses/assets/weapons/crits.svg" />
        <input id="{{attackType}}-crits-input" class="crits crits-number flex-size-1" 
          type="number" type="Int" value="{{crits}}" placeholder="" onfocus="this.select()"/>
      </div>
    </div>
    {{/if}}


    {{#if isShootingAttack}}
    <label>Damage Per Hit</label>
    <div class="flexrow element-list-container damage-per-hit-container">
      {{#each perHitElements as |element elementType|}}
      <div class="flexrow">
        <img for="{{../attackType}}-{{elementType}}-element-damage-per-hit-input"
          class="element-input-label-icon" alt="{{capitalize elementType}}"
          src="systems/bunkers-and-badasses/assets/elements/{{capitalize elementType}}.png"
        />
        <label for="{{../attackType}}-{{elementType}}-element-damage-per-hit-input"
          class="flex-size-2 {{elementType}}-text">
          {{capitalize elementType}}:
        </label>
        <input id="{{../attackType}}-{{elementType}}-element-damage-per-hit-input"
          class="per-hit flex-size-1" type="text" type="String" 
          value="{{#if element.enabled}}{{element.damage}}{{/if}}" placeholder="" 
          data-damage-type="{{elementType}}" />
      </div> 
      {{/each}}
    </div>
    {{/if}}

    {{#if isShootingAttack}}
    <label>Damage Per Crit</label>
    <div class="flexrow element-list-container damage-per-crit-container">
      {{#each perCritElements as |element elementType|}}
      <div class="flexrow">
        <img for="{{../attackType}}-{{elementType}}-element-damage-per-crit-input"
          class="element-input-label-icon" alt="{{capitalize elementType}}"
          src="systems/bunkers-and-badasses/assets/elements/{{capitalize elementType}}.png"
        />
        <label for="{{../attackType}}-{{elementType}}-element-damage-per-crit-input"
          class="flex-size-2 {{elementType}}-text">
          {{capitalize elementType}}:
        </label>
        <input id="{{../attackType}}-{{elementType}}-element-damage-per-crit-input"
          class="per-crit flex-size-1" type="text" type="String" 
          value="{{#if element.enabled}}{{element.damage}}{{/if}}" placeholder="" 
          data-damage-type="{{elementType}}" />
      </div> 
      {{/each}}
    </div>
    {{/if}}

    {{#if isShootingAttack}}
      <label>Bonus Damage Per Attack</label>
    {{else}}
      <label>Attack Damage</label>
    {{/if}}
    <div class="flexrow element-list-container damage-per-attack-container">
      {{#each perAttackElements as |element elementType|}}
      <div class="flexrow">
        <img for="{{../attackType}}-{{elementType}}-element-damage-per-attack-input"
          class="element-input-label-icon" alt="{{capitalize elementType}}"
          src="systems/bunkers-and-badasses/assets/elements/{{capitalize elementType}}.png"
        />
        <label for="{{../attackType}}-{{elementType}}-element-damage-per-attack-input"
          class="flex-size-2 {{elementType}}-text">
          {{capitalize elementType}}:
        </label>
        <input id="{{../attackType}}-{{elementType}}-element-damage-per-attack-input"
          class="per-attack flex-size-1" type="text" type="String" 
          value="{{#if element.enabled}}{{element.damage}}{{/if}}" placeholder=""
          data-damage-type="{{elementType}}" />
      </div> 
      {{/each}}
    </div>

    <div class="bonus-notification">Bonuses from levels and effects will be automatically added.</div>
  </div>
</div>
