<div class="flexcol elements-container">
  <div class="flexrow">
    <div class="flex-size-2 elem-reminder-text">Click an element to enable. Enter damage for each element.</div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.kinetic
      }}
    </div>
  </div>
  <div class="flexrow">
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.incendiary
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.radiation
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.incendiation
      }}
    </div>
  </div>
  <div class="flexrow">
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.shock
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.corrosive
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.corroshock
      }}
    </div>
  </div>
  <div class="flexrow">
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.explosive
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.cryo
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/dialog/element-entry-section.html"
        element=elements.crysplosive
      }}
    </div>
  </div>
</div>