<div class="flexcol check-dialog">
  <div class="flexrow check-dialog">

    <div class="flexcol flex-group-center modifiers">
      <div class="flexrow check-dialog-header">
        <label for="bonus">Roll Bonus</label>
      </div>
      <div class="flexcol check-dialog-body">
        <input id="bonus" class="" value="0"
        type="number" data-dtype="Number" 
        onfocus="this.select()" />
        <label for="bonus">bonus</label>
      </div>
    </div>

    <div class="flexcol flex-group-center difficulty">
      <div class="flexrow check-dialog-header">
        <label for="target-speed">Target Speed Mod</label>
      </div>
      <div class="flexcol check-dialog-body">
        <input id="target-speed" class="" value="0"
        type="number" data-dtype="Number" 
        onfocus="this.select()" />
        <label for="target-speed">spd</label>
      </div>
    </div>

  </div>
</div>