<div class="use-action-skill-dialog flexcol">
  <div class="flexrow">
    <label class="bolded confirm-use-action-skill-description-title">Description</label>
    <div class="free-activation-text flexrow">
      <label>Free Activation?</label>
      <input id="free-activation" type="checkbox" checked/>
    </div>
  </div>
  <div class="confirm-use-text">{{{item.system.description}}}</div>
  <label class="bolded confirm-use-action-skill-notes-title">Extra Notes</label>
  <div class="confirm-use-text">{{{item.system.notes}}}</div>
</div>