<div class='{{dropdownComponentClass "body"}}'>
  <hr class='{{dropdownComponentClass "hr"}}' />
  

  <div class="flexrow">
    <!-- hits and crits -->
    <div class="hits-and-crits-container flex-size-2">
      <div class="flexrow">
        <label class="bolded crit-hit crit-hit-acc title">Acc</label>
        <div class="crit-hit-label-icon">
          <label class="bolded crit-hit hit title">Hits</label>
          <img class="hits-icon" title="Hits" width="24" height="24"
            src="systems/bunkers-and-badasses/assets/weapons/hits.png" />
        </div>
        <div class="crit-hit-label-icon">
          <label class="bolded crit-hit crit title">Crits</label>
          <img class="crits-icon" title="Crits" width="24" height="24"
            src="systems/bunkers-and-badasses/assets/weapons/crits.png" />
        </div>
      </div>
      <div class="flexrow crit-hit-top-row">
        <label class="crit-hit-acc detail">2-7</label>
        <label class="crit-hit hit detail">{{item.system.accuracy.low.hits}}</label>
        <label class="crit-hit crit detail">{{item.system.accuracy.low.crits}}</label>
      </div>
      <div class="flexrow">
        <label class="crit-hit-acc detail">8-15</label>
        <label class="crit-hit hit detail">{{item.system.accuracy.mid.hits}}</label>
        <label class="crit-hit crit detail">{{item.system.accuracy.mid.crits}}</label>
      </div>
      <div class="flexrow">
        <label class="crit-hit-acc detail">16-20</label>
        <label class="crit-hit hit detail">{{item.system.accuracy.high.hits}}</label>
        <label class="crit-hit crit detail">{{item.system.accuracy.high.crits}}</label>
      </div>
    </div>
    <div class="flexcol flex-size-3">
      <div class="flexrow">
        <label class="range"><b>Range:</b> {{item.system.range}}</label>
        <div class="level-and-guild flex-size-2">
          <!-- guild, level -->
          <b>
            {{#if item.system.level}}
            Level {{item.system.level}}
            {{/if}}
            {{#if item.system.guild}}
            {{item.system.guild}}
            {{/if}}
          </b>
        </div>
        <label class="item-cost">
          {{#if item.system.cost}}
          <b>Cost:</b> {{item.system.cost}}g
          {{/if}}
        </label>
      </div>
      <div class="various-gun-info gun-damage-container flexcol">
        <label class="margin-top-6 header bolded">Damage:</label>
        {{#if damagePerHitHtml}}
        <div class="flex damage-container dropdown-elements-container">
          {{{damagePerHitHtml}}}&MediumSpace;Damage per Hit
        </div>
        {{/if}}
        {{#if damagePerAttackHtml}}
        <div class="flex damage-container dropdown-elements-container">
          {{{damagePerAttackHtml}}}&MediumSpace;Bonus Damage per Attack
        </div>
        {{/if}}
      </div>
      <div>
        {{#if item.system.bonusCritDmg}}
        <div class=""><b>Crit Hit Bonus Damage:</b> {{addPlusIfPositive item.system.bonusCritDmg}}</div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="flexrow stat-mod-container">
    {{#if item.system.statMods.acc}}
    <label class="stat-mod">{{addPlusIfPositive item.system.statMods.acc}} Acc Mod</label>
    {{/if}}
    {{#if item.system.statMods.dmg}}
    <label class="stat-mod">{{addPlusIfPositive item.system.statMods.dmg}} Dmg Mod</label>
    {{/if}}
    {{#if item.system.statMods.spd}}
    <label class="stat-mod">{{addPlusIfPositive item.system.statMods.spd}} Spd Mod</label>
    {{/if}}
    {{#if item.system.statMods.mst}}
    <label class="stat-mod">{{addPlusIfPositive item.system.statMods.mst}} Mst Mod</label>
    {{/if}}
  </div>
  <!-- more details -->
  <div class="gun-detail-descriptions">
    
    {{#if item.system.description}}
    <div class="various-gun-info flexcol">  
      <label class="margin-top-6 header bolded">Description:</label>
      <div>{{{item.system.description}}}</div>
    </div>
    {{/if}}
    {{#if item.system.effect}}
    <div class="various-gun-info flexcol">
      <label class="margin-top-6 header bolded">Gun Info:</label>
      <div>{{{item.system.enriched.effect}}}</div>
    </div>
    {{/if}}
    {{#if item.system.prefix.effects}}
    <div class="various-gun-info flexcol">
      <label class="margin-top-6 header bolded"><b>Prefix Effect:</b></label>
      <div class=""><b>{{item.system.prefix.name}}:</b> {{{item.system.enriched.prefix.effects}}}</div>
    </div>
    {{/if}}
    {{#if item.system.guildBonus}}
    <div class="various-gun-info flexcol">
      <label class="margin-top-6 header bolded"><b>Guild Bonus:</b></label>
      <div class=""><b>{{item.system.guild}}:</b> {{{item.system.enriched.guildBonus}}}</div>
    </div>
    {{/if}}
  </div>

  <!-- Class Effect -->
  {{#if item.system.classEffect}}
  <br />
  <label class="bolded">Class Effect ({{item.system.class}}):</label>
  <div>{{{item.system.enriched.classEffect}}}</div>
  {{/if}}

  <!-- Notes -->
  {{#if item.system.notes}}
  <br />
  <label class="bolded">Notes:</label>
  <div>{{{item.system.enriched.notes}}}</div>
  {{/if}}

  <!-- Red Text -->
  {{#if item.system.redText}}
  <div class="red-text">{{{item.system.redText}}}</div>
  {{/if}}
  {{#if item.system.redTextEffect}}
  <div class="red-text-notes">{{{item.system.enriched.redTextEffect}}}</div>
  {{/if}}
</div>

