<div class='{{dropdownComponentClass "body"}}'>
  <hr class='{{dropdownComponentClass "hr"}}' />
  

  <div class="flexrow">
    <div class="health-protection-details flex-size-2">
      <!-- protection type, capacity, recharge -->
      {{#if item.system.healthType}}
      <b>{{item.system.capacity}} {{capitalize item.system.healthType}}</b>  <span class="recovery-rate">{{addPlusIfPositive item.system.recoveryRate}} {{capitalize (hpToRecoveryTitle item.system.healthType)}}</span>
      {{/if}}
    </div>
    <div class="level-and-guild flex-size-2">
      <!-- guild, level -->
      <b>
        {{#if item.system.level}}
        Level {{item.system.level}}
        {{/if}}
        {{#if item.system.guild}}
        {{item.system.guild}}
        {{/if}}
      </b>
    </div>
    <label class="item-cost">
      {{#if item.system.cost}}
      <b>Cost:</b> {{item.system.cost}}g
      {{/if}}
    </label>
  </div>
  
  <!-- resistances -->
  {{#if resistHtml}}
  <br />
  <div class="resist-container dropdown-elements-container">
    <b>Resistances:</b> {{{resistHtml}}}
  </div>
  {{/if}}
  <!-- damage -->
  {{#if damageHtml}}
  <div class="damage-container dropdown-elements-container">
    <b>Damage:</b> {{{damageHtml}}}
  </div>
  {{/if}}

  <!-- Description -->
  {{#if item.system.description}}
  <br />
  <label class="bolded">Description:</label>
  <div>{{{item.system.description}}}</div>
  {{/if}}

  <!-- Effect -->
  {{#if item.system.effect}}
  <br />
  <label class="bolded">Effect:</label>
  <div>{{{item.system.effect}}}</div>
  {{/if}}

  <!-- Class Effect -->
  {{#if item.system.classEffect}}
  <br />
  <label class="bolded">Class Effect ({{item.system.class}}):</label>
  <div>{{{item.system.classEffect}}}</div>
  {{/if}}

  <!-- Notes -->
  {{#if item.system.notes}}
  <br />
  <label class="bolded">Notes:</label>
  <div>{{{item.system.notes}}}</div>
  {{/if}}

  <!-- Red Text -->
  {{#if item.system.redText}}
  <div class="red-text">{{{item.system.redText}}}</div>
  <div class="red-text-notes">{{{item.system.redTextEffect}}}</div>
  {{/if}}
</div>