<div class="flexcol flex-size-1">
  <div class="flexrow">
    <div class="flex-size-5 flexcol">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/checks-block.html" }}
    </div>    
  </div>
  <div class="flexrow">
    <div class="flexcol healths-container">
      {{#each hps as |hpVal key|}}
      {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/hp-display-block.html" 
        hp=hpVal
        key=key
      }}
      {{/each}}
      <div class="flexrow hp-buttons hps-buttons">
        <button class="btn btn-primary hp-damage-btn">Take Damage</button>
        <button class="btn btn-primary hp-regen-btn">Recovery</button>
      </div>
    </div>
    <div class="flexcol">
      <div class="flexrow badass-container">
        <div>
          <label>Badass Rank</label>
          <input class="" value="{{data.attributes.badassRank}}"
            type="number" data-dtype="Number"
            disabled />
        </div>
        <div>
          <label>Badass Tokens</label>
          <input class="" value="{{data.attributes.badassTokens}}"
            type="number" data-dtype="Number"
            disabled />
        </div>
      </div>
      <div>Badass Roll</div>
      <div>attacks!</div>
      <div>melee</div>
      <div>gun</div>
      <div>grenade</div>
    </div>
  </div>



  Action skill, used, uses
  action skill text

  equipped items in
  class skills

  traits??


</div>