<div class="flexcol flex-size-1">
  <div class="flexrow">
    <div class="flex-size-5 flexcol">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/checks-block.html" }}
    </div>
    <!-- <div class="flex-size-2 flexcol">
      <div>initiatie</div>
      <div>movement</div>
      <div>badass rank, (tokens)</div>
    </div> -->

  </div>

  hp type,                      |  attacks
  current, max, regen           |  melee
  hptype, current, max, regen   |  gun, GRENADE NEXT LINE

  Action skill, used, uses
  action skill text

  equipped items in
  class skills

  traits??


</div>