<div class="sheet-header xpBar flexcol flex-group-center">
  <label for="xp.level">Level</label>
  <label for="xp.level">{{xp.level}}</label>
  <label for="xp.soFarInLevel">So Far In Level</label>
  <label for="xp.soFarInLevel">{{xp.soFarInLevel}}</label>
  <label for="xp.currentSegment">Current Segment</label>
  <label for="xp.currentSegment">{{xp.currentSegment}}</label>
  <lable for="xp.XpPerSegment">Xp Per Segment</label>
  <label for="xp.XpPerSegment">{{xp.XpPerSegment}}</label>
  <!-- <div class="flexrow xpBar" style='height:auto;'>
    <div>
      <label for="data.attributes.level.value" class="resource-label">Level</label>
      <label for="data.attributes.level.value" class="resource-label">100</label>
    </div>
    <div class="resource-content flexrow flex-center flex-between">
      <input type="text" name="data.attributes.level.value" value="{{data.attributes.level.value}}" data-type="Number"/>
    </div>
    <div>
      <label for="data.attributes.level.value" class="resource-label">Level</label>
    </div>
  </div> -->
</div>