<ol class="items-list">
  <button class="btn btn-primary xp-gain" data-action="gainXp">
    <a class="item-control xp-gain" 
    title="Gain XP"
     >
        Gain XP
    </a>
  </button>
  <a class="item-control item-create" 
      title="Create item" 
      data-type="spell" 
      data-spell-level="{{spellLevel}}">
      <i class="fas fa-plus"></i> Gain XP
    </a>
    <a class="item-control item-edit" title="Edit Item">
        <i class="fas fa-edit"></i>
    </a>
</ol>
<!-- archetype1
archetype1 level
archetype1 starting stats
each bonus (plus an adder)

archetype2
archetype2 level
each bonus (plus an adder)

archetype feats

class starting stats
class skills taken

enter experience gained
enter melee die
enter health gained

badass rank  -->

