<div class="flexrow">
  {{!-- Favored Weapons Segment --}}
  <div class="flexcol flex-size-2 favored-section">
    <div class="flexrow flex-group-center favored-header">
      <label>Favored Weapons</label>
    </div>
    <div class="flexrow favored-body">
      <input type="checkbox" id="favorPistol" 
        name="data.favored.pistol" data-dtype="Boolean" 
        {{ checked data.favored.pistol }} />
      <label for="favorPistol">Pistol</label>
      <input type="checkbox" id="favorRifle"
        name="data.favored.rifle" data-dtype="Boolean" 
        {{ checked data.favored.rifle }} />
      <label for="favorRifle">Combat Rifle</label>
      <input type="checkbox" id="favorSniper"
        name="data.favored.sniper" data-dtype="Boolean"
        {{ checked data.favored.sniper }} />
      <label for="favorSniper">Sniper</label>
    </div>
    <div class="flexrow favored-body">
      <input type="checkbox" id="favorSMG"
        name="data.favored.smg" data-dtype="Boolean"
        {{ checked data.favored.smg }} />
      <label for="favorSMG">SMG</label>
      <input type="checkbox" id="favorShotgun"
        name="data.favored.shotgun" data-dtype="Boolean"
        {{ checked data.favored.shotgun }} />
      <label for="favorShotgun">Shotgun</label>
      <input type="checkbox" id="favorHeavy"
        name="data.favored.heavy" data-dtype="Boolean"
        {{ checked data.favored.heavy }} />
      <label for="favorHeavy">Rocket Launcher</label>
    </div>
  </div>

  {{!-- Gain XP/Health Segment --}}
  <div class="flexcol">
    <div class="flexrow align-center"> 
      <label>Badass Rank</label>
      <input 
      name="data.attributes.badassRank" 
      value="{{data.attributes.badassRank}}"
      onclick="this.select()"
      type="number" data-type="Number" />
    </div>
    <button class="btn btn-primary item-control xp-gain">
      <i class="fas fa-plus"></i> Gain XP
    </button>
  </div>
</div>
<!-- <a class="item-control item-edit" title="Edit Item">
  <i class="fas fa-edit"></i>
</a> -->


{{!-- Builder Tab Navigation --}}
<nav class="builder-tabs tabs" data-group="builder">
  {{!-- Default tab is specified in actor-sheet.mjs --}}
  <a class="item" data-tab="archetype">Archetype</a>
  <a class="item" data-tab="class">Class</a>
</nav>

{{!-- Builder Tabs Content --}}
<section class="builder-body">

  <div class="tab archetype" data-group="builder" data-tab="archetype">
    {{> "systems/bunkers-and-badasses/templates/actor/parts/actor-builder-archetypes.html" }}
  </div>

  <div class="tab class" data-group="builder" data-tab="class">
    {{> "systems/bunkers-and-badasses/templates/actor/parts/actor-builder-class.html" }}
  </div>
  
</section>
  <!-- archetype1
</section>
archetype1 level
archetype1 starting stats
each bonus (plus an adder)

archetype2
archetype2 level
each bonus (plus an adder)

archetype feats

class starting stats
class skills taken

enter experience gained
enter melee die
enter health gained

badass rank  -->

