<div>
  class name
  background
  background bonuses
  favored gun(s)
  stat modifiers
  melee/hp dice
  skill trees
  action skill
</div>
<div class="flexcol">
  <div class="flexrow">
    class name, 
  </div>
  <div class="flexrow flex-group-center">
    <label>Acc</label>
    <input 
      name="data.class.baseStats.acc" 
      value="{{data.class.baseStats.acc}}"
      onclick="this.select()"
      type="number" data-type="Number" />
    <label>Dmg</label>
    <input 
      name="data.class.baseStats.dmg" 
      value="{{data.class.baseStats.dmg}}"
      onclick="this.select()"
      type="number" data-type="Number" />
    <label>Spd</label>
    <input 
      name="data.class.baseStats.spd" 
      value="{{data.class.baseStats.spd}}"
      onclick="this.select()"
      type="number" data-type="Number" />
    <label>Mst</label>
    <input 
      name="data.class.baseStats.mst" 
      value="{{data.class.baseStats.mst}}"
      onclick="this.select()"
      type="number" data-type="Number" />
  </div>
</div>