{{!-- Header and Gold --}}
<div class="flexrow">
  <div class="flexrow flex-size-1 centerize grenade-input">
    <label for="grenade-input" class="grenade-input-label flex-size-2">Grenades: Count </label>
    <input id="grenade-input" class="grenade-input" value="{{data.attributes.grenades.value}}" name="data.attributes.grenades.value"
    onfocus="this.select()" type="number" data-dtype="Number"
    />
    <label for="grenade-input" class="grenade-input-label flex-size-2"> Max </label>
    <input id="grenade-input" class="grenade-input" value="{{data.attributes.grenades.max}}" name="data.attributes.grenades.max"
    onfocus="this.select()" type="number" data-dtype="Number"
    />
  </div>
  <div class="flex-size-2 loot-inventory-header-container">
    <label class="loot-inventory-header flexrow">Loot Inventory</label>
  </div>
  <div class="flexrow flex-size-1 centerize gold-input">
    <div class="max-width-50">
      <label for="gold-input" class="gold-input-label flex-size-2">Gold: </label>
      <input id="gold-input" class="gold-input" value="{{data.gold}}" name="data.gold"
      onfocus="this.select()" type="number" data-dtype="Number"
      />
    </div>
  </div>
</div>
{{!-- Guns --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Guns</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Description</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="gun"><i class="fas fa-plus"></i> Add Gun</a>
    </div>
  </li>
  {{#each guns as |item id|}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
    style="--rarityColor: {{item.data.rarity.colorValue}}"
    data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
        <img class="item-rarity-outline" 
          style="--rarityColor: {{item.data.rarity.colorValue}}" 
          src="{{item.img}}" title="{{item.data.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.data.rarity.colorValue}}">
          {{item.data.rarity.name}} {{shortName item.data.type.name}}</div>
        <h4 class="bolded">{{item.data.prefix.name}} {{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effec-stack-container">
        <div class="item-effect item-prop-stack">
          <div class="gun-row">
            <img id="hits" alt="Hits" class="critshits-icon" 
              src="systems/bunkers-and-badasses/assets/weapons/hits.png" />
            <label class="gun-row-hits">{{data.accuracy.low.hits}} {{data.accuracy.mid.hits}} {{data.accuracy.high.hits}}</label>
            {{{data.dmgHtml}}}
            <label class="gun-detail-header">  Range:</label>
            <label>{{data.range}} sq</label>
          </div>
        </div>
        <div class="item-effect item-prop-stack">
          <div class="gun-row">
            <img id="crits" alt="Crits" class="critshits-icon" 
              src="systems/bunkers-and-badasses/assets/weapons/crits.png" />
            <label class="gun-row-crits">{{data.accuracy.low.crits}} {{data.accuracy.mid.crits}} {{data.accuracy.high.crits}}</label>
          </div>
        </div>
        <!--
          <div class="item-effect item-prop-stack">
            <div class="gun-row">
              <label class="gun-detail-header">Effects:</label>
              <label class="large-text-overflow-hidden">
                {{data.prefix.effects}}, {{data.guildBonus}}, {{data.effect}}
              </label>
            </div>
          </div>
        -->
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="data.equipped">
        {{#if item.data.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{log item}}
  {{/each}}
</ol>
{{!-- Shields --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Shield</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Description</label></div>
      <!-- <div class="item-capacity flex-size-5"><label>Class Effect</label></div> -->
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="shield"><i class="fas fa-plus"></i> Add Shield</a>
    </div>
  </li>
  {{#each shields as |item id|}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.data.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">  
          <img class="item-rarity-outline" 
               style="--rarityColor: {{item.data.rarity.colorValue}}" 
               src="{{item.img}}" title="{{item.data.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.data.rarity.colorValue}}">{{item.data.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effect-stack-container">
        <div class="item-effect-stack item-prop-stack">
          <label>{{#if item.data.effect}}<b>Effect</b>:{{/if}} {{item.data.effect}}</label>
        </div>
        <div class="flexrow item-effect-stack item-prop-stack">
          <div class="loot-health">
            {{#if item.data.isArmor}}
            <img id="enable{{label}}" alt="{{element.label}}" 
            class="health-icon" 
            src="systems/bunkers-and-badasses/assets/SHA/armor-light.png" />
            <label> {{item.data.capacity}} Armor - {{item.data.recovery.repairRate}} Repair</label>
            {{else}}
            <img id="enable{{label}}" alt="{{element.label}}" 
            class="health-icon" 
            src="systems/bunkers-and-badasses/assets/SHA/shield-light.png" />
            <label> {{item.data.capacity}} Shield - {{item.data.recovery.rechargeRate}} Recharge</label>
            {{/if}}
            <div class="resist-label"> 
              <label class="resist-label">
                {{#if item.data.resistHtml}}
                Resists: {{{item.data.resistHtml}}}
                {{/if}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="data.equipped">
      {{#if item.data.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{log item}}
  {{/each}}
</ol>
{{!-- Grenades --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Grenade</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Description</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="grenade"><i class="fas fa-plus"></i> Add Grenade</a>
    </div>
  </li>
  {{#each grenades as |item id|}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
    style="--rarityColor: {{item.data.rarity.colorValue}}"
    data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
        <img class="item-rarity-outline" 
          style="--rarityColor: {{item.data.rarity.colorValue}}" 
          src="{{item.img}}" title="{{item.data.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.data.rarity.colorValue}}">{{item.data.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effec-stack-container">
        <div class="item-effect item-prop-stack">
          <label class="item-effect">
            <div>{{#if item.data.effect}}<b>Effect</b>:{{/if}} {{item.data.effect}}</div>
          </label>
        </div>
        <div class="item-effect item-prop-stack">
          <label class="loot-element-damage item-effect item-prop-stack loot-element-damage">
            {{{item.data.dmgHtml}}}
          </label>
        </div>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="data.equipped">
        {{#if item.data.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{log item}}
  {{/each}}
</ol>
{{!-- Relics --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Relic</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Effect</label></div>
      <!-- <div class="item-capacity flex-size-5"><label>Class Effect</label></div> -->
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="relic"><i class="fas fa-plus"></i> Add Relic</a>
    </div>
  </li>
  {{#each relics as |item id|}}
  {{log item}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.data.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
          <img class="item-rarity-outline" 
               style="--rarityColor: {{item.data.rarity.colorValue}}" 
               src="{{item.img}}" title="{{item.data.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.data.rarity.colorValue}}">{{item.data.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effect-stack-container">
        <div class="item-effect-stack item-prop-stack">
          <label>{{#if item.data.effect}}<b>Effect</b>:{{/if}} {{item.data.effect}}</label>
        </div>
        <div class="flexrow item-effect-stack item-prop-stack">
          <label>{{#if item.data.classEffect}}<b>{{item.data.class}} Class</b>:{{/if}} {{item.data.classEffect}}</label>
        </div>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="data.equipped">
      {{#if item.data.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
{{!-- Potions --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Potion</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Effect</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="potion"><i class="fas fa-plus"></i> Add Potion</a>
    </div>
  </li>
  {{#each potions as |item id|}}
  {{log item}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.data.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
          <img class="item-rarity-outline" 
               style="--rarityColor: {{item.data.rarity.colorValue}}" 
               src="{{item.img}}" title="{{item.data.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.data.rarity.colorValue}}">{{item.data.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="item-effect item-prop-left">
        <label class="item-effect">
          <div>{{#if item.data.effect}}<b>Effect</b>:{{/if}} {{item.data.effect}}</div>
        </label>
      </div>
      <!-- <div class="item-detail">
        <label>{{item.data.quantity}}</label>
      </div>
      <div class="item-detail">
        <label>{{item.data.cost}}g</label>
      </div> -->
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="data.equipped">
      {{#if item.data.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
{{!-- Key/Generic Items --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Key Item</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Effect</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="key item"><i class="fas fa-plus"></i> Add Item</a>
    </div>
  </li>
  {{#each keyItems as |item id|}}
  {{log item}}
  <!-- <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.data.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
          <img class="item-rarity-outline" 
               style="--rarityColor: {{item.data.rarity.colorValue}}" 
               src="{{item.img}}" title="{{item.data.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.data.rarity.colorValue}}">{{item.data.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="item-effect item-prop-left">
        <label class="item-effect">
          <div>{{#if item.data.effect}}<b>Effect</b>:{{/if}} {{item.data.effect}}</div>
        </label>
      </div>
      <!- <div class="item-detail">
        <label>{{item.data.quantity}}</label>
      </div>
      <div class="item-detail">
        <label>{{item.data.cost}}g</label>
      </div> ->
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="data.equipped">
      {{#if item.data.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li> -->
  {{/each}}
</ol>
additional items