<div class="flexrow">

  {{!-- Gain XP/Health Segment --}}
  <div class="flexcol">
    <div class="flexrow align-center">
      <button class="btn btn-primary item-control btn-manage hp-gain-edit">
        Roll and Add Health
      </button>
      <input id="xp-change-amount"
        placeholder="XP Increase"
        onclick="this.select()"
        type="number" data-dtype="Number" />
      <button class="btn btn-primary item-control btn-manage xp-gain">
        Add XP
      </button>
      <label class=""><i class="fas fa-skull"></i> Badass Rank</label>
      <input id="badass-rank"
        placeholder="Badass Rank"
        name="data.attributes.badassRank" 
        value="{{data.attributes.badassRank}}"
        onclick="this.select()"
        type="number" data-dtype="Number" />
    </div>
  </div>
</div>


{{!-- Builder Tab Navigation --}}
<nav class="builder-tabs tabs" data-group="builder">
  {{!-- Default tab is specified in actor-sheet.mjs --}}
  <a class="item" data-tab="archetype">Archetype</a>
  <a class="item" data-tab="class">Class</a>
  <a class="item" data-tab="classSkills">Class Skills</a>
</nav>

{{!-- Builder Tabs Content --}}
<section class="builder-body">

  <div class="tab archetype" data-group="builder" data-tab="archetype">
    {{> "systems/bunkers-and-badasses/templates/actor/parts/builder-components/actor-builder-archetypes.html" }}
  </div>

  <div class="tab class" data-group="builder" data-tab="class">
    {{> "systems/bunkers-and-badasses/templates/actor/parts/builder-components/actor-builder-class.html" }}
  </div>

  <div class="tab class-skills" data-group="builder" data-tab="classSkills">
    {{> "systems/bunkers-and-badasses/templates/actor/parts/builder-components/actor-builder-class-skills.html" }}
  </div>
  
</section>

