<div class="flexcol action flex-size-1">
  {{!-- Checks --}}
  <div class="flexrow">
    <div class="flex-size-5 flexcol">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/checks-block.html" }}
    </div>    
  </div>
  
  {{!-- HP/Attack/Action Skill --}}
  <div class="flexrow">
    <div class="flexcol">
      {{!-- Badass Region --}}
      <div class="flexcol badass-container">
        <div class="flexrow badass-entity-container">
          <div class="flexrow badass-container-inner-left">
            <label><i class="fas fa-skull"></i>&nbsp;Badass&nbsp;Rank</label>
            <input class="" value="{{data.attributes.badass.rank}}"
              type="number" data-dtype="Number"
              disabled />
          </div>
          <div class="flexrow badass-container-inner-right">
            <label>Badass&nbsp;Tokens</label>
            <input class="" name="data.attributes.badass.tokens" value="{{data.attributes.badass.tokens}}"
              type="number" data-dtype="Number" />
          </div>
        </div>
        <div class="flexrow badass-entity-container">
          <button class="btn btn-primary btn-badass-roll rollable" data-roll-type="badass-move"><i class="fa fa-dice-d20"></i> Badass Roll</button>
          <div class="flexcol badass-check">
            <label>Badass?</label>
            <a class="checkbox" title="Become Badass?" data-target="data.attributes.badass.rollsEnabled" data-item-target="data.equipped">
              {{#if data.attributes.badass.rollsEnabled}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i></a>{{/if}}
            </a>
          </div>
        </div>
      </div>
      {{!-- Action Skill Region --}}
      <div class="action-skill-container">
        <div class="flexrow as-btn-inner-container action-skill">
          <div></div>
          <div class="flex-size-2">
            <button class="btn btn-primary action-skill-button action-skill-use">
              <label>{{data.class.actionSkill.name}}</label>
            </button>
          </div>
          <div class="flexcol uses-container cc2">
            <div class="flexrow">
              <input class="" name="data.class.actionSkill.uses.value" value="{{data.class.actionSkill.uses.value}}"
              type="text" data-dtype="String" />
              <label> / </label>
              <input class="" name="data.class.actionSkill.uses.max" value="{{data.class.actionSkill.uses.max}}"
              type="text" data-dtype="String"
              disabled />
            </div>
            <label class="check-num-label">uses</label>
          </div>
        </div>
      </div>
      {{!-- Health/Armor/Shield Region --}}
      <div class="flexcol healths-container">
        {{#each hps as |hpVal key|}}
        {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/hp-display-block.html" 
          hp=hpVal
          key=key
          showRegen=true
          disableMax=true
        }}
        {{/each}}
        <div class="flexrow damage-buttons">
          <button class="btn btn-primary take-damage">Take Damage</button>
        </div>
      </div>
    </div>
    {{!-- Attack region --}}
    <div class="flexcol">
      
      {{!-- Attack Region --}}
      <div class="flexrow attack-as-shared-container">
        <div class="flexrow flex-size-1 attack-header-outer-container">
          <div class="flexrow attack-header-container">
            <div class="attack-header-inner-container">
              <label class="">Attacks!</label>
            </div>
          </div>
        </div>

        <div class="flexrow flex-size-4 as-btn-outer-container">
          <!-- Placeholder -->
          <div>
            {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/check.html"
              displayName="Melee"
              checkName="Melee"
              check=data.checks.melee
              isBadass=data.attributes.badass.rollsEnabled
              nonRolled=true
              hideStat=true
            }}
          </div>
          <div>
            {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/check.html"
              displayName="Shoot"
              checkName="Shooting"
              check=data.checks.shooting
              isBadass=data.attributes.badass.rollsEnabled
              nonRolled=true
              hideStat=true
            }}
          </div>
          <div>
            {{> "systems/bunkers-and-badasses/templates/actor/parts/action-components/check.html"
              displayName="Throw"
              checkName="Throw"
              check=data.checks.throw
              isBadass=data.attributes.badass.rollsEnabled
              nonRolled=true
              hideStat=true
            }}
          </div>
            
        </div>
      </div>
      <div class="flex-size-2 attacks-container">
        {{!-- Melee Attack --}}
        <li class="item item-element-group loot-rarity-fade-border flexrow rollable" 
          style="--rarityColor: darkred"
          data-roll-type="melee-attack">
          <div class="item-details attack-block item-attack-roll">
            <div class="item-controls">
              <a class="item-control item-attack" title="Roll Attack"><i class="fa fa-dice-d20"></i></a>
            </div>
            <div class="flexcol item-effec-stack-container">
              <div class="item-effect flexrow item-prop-stack attack-details-line">
                <h4 class="attack-header">Melee Attack</h4>
                <label>
                  <div>{{#if data.effect}}<b>Effect</b>:{{/if}} {{data.effect}}</div>
                </label>
              </div>
              <div class="item-effect flexrow item-prop-stack attack-details-line damage-row">
                <label><i>Shwing!</i></label>
                <label class="flex-size-2">
                  <label class="element-label" style="--elementColor:rgb(76, 76, 76)">{{data.class.meleeDice}}&nbsp;</label>
                  <label class="element-damage-damage">Damage</label>
                </label>
                <label class="gun-detail-header"><b>Range:</b>&nbsp;Adjacent</label>
              </div>
            </div>
          </div>
        </li>
        {{!- Gun Attack --}}
        {{#each equippedGuns as |item id|}}
        <li class="item item-element-group loot-rarity-fade-border flexrow rollable" 
          style="--rarityColor: {{item.data.rarity.colorValue}}"
          data-item-id="{{item._id}}" data-roll-type="gun-attack">
          <div class="item-details attack-block item-attack-roll">
            <div class="item-controls">
              <a class="item-control item-attack" title="Roll Attack"><i class="fa fa-dice-d20"></i></a>
            </div>
            <div class="flexcol item-effec-stack-container">
              <div class="item-effect flexrow item-prop-stack attack-details-line gun-header-line">
                <h4 class="attack-header">{{data.prefix.name}} {{item.name}}</h4>
                <label>
                  <img id="hits" alt="Hits" class="gun-icon" 
                    src="systems/bunkers-and-badasses/assets/weapons/{{data.type.value}}.webp" />
                  {{shortName data.type.name}}
                </label>
              </div>
              <div class="item-effect item-prop-stack">
                <div class="flexrow gun-row hits-and-crits">
                  <div class="flexcol">
                    <div class="flexrow">
                      <label class="gun-row-hits">
                        <img id="hits" alt="Hits" class="critshits-icon" src="systems/bunkers-and-badasses/assets/weapons/hits.png" />
                        {{data.accuracy.low.hits}} {{data.accuracy.mid.hits}} {{data.accuracy.high.hits}}
                      </label>
                    </div>
                    <div class="flexrow">
                      <label class="gun-row-crits">
                        <img id="crits" alt="Crits" class="critshits-icon" src="systems/bunkers-and-badasses/assets/weapons/crits.png" />
                        {{data.accuracy.low.crits}} {{data.accuracy.mid.crits}} {{data.accuracy.high.crits}}
                      </label>
                    </div>
                  </div>
                  <div class="flexrow flex-size-2 post-crithit-details">
                    <label>
                      {{{data.dmgHtml}}}
                    </label>
                  </div>
                  <div class="flexrow post-crithit-details">
                    <label class="gun-detail-header">Range:</label>
                    <label>{{data.range}} sq</label>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </li>
        {{/each}}
        {{!-- Grenade Attack --}}
        {{#each equippedGrenades as |item id|}}
        <li class="item item-element-group loot-rarity-fade-border flexrow rollable" 
          style="--rarityColor: {{item.data.rarity.colorValue}}"
          data-item-id="{{item._id}}" data-roll-type="grenade-throw" data-check-type="Throw" data-roll-mod="acc" data-roll-type="throw">
          <div class="item-details attack-block item-attack-roll">
            <div class="item-controls">
              <a class="item-control item-attack" title="Roll Attack"><i class="fa fa-dice-d20"></i></a>
            </div>
            <div class="flexcol item-effec-stack-container">
              <div class="item-effect flexrow item-prop-stack attack-details-line">
                <h4 class="attack-header">{{item.name}}</h4>
                <label>
                  <div>{{#if data.effect}}<b>Effect</b>:{{/if}} {{data.effect}}</div>
                </label>
              </div>
              <div class="item-effect flexrow item-prop-stack attack-details-line damage-row">
                <label>Count: {{../data.attributes.grenades.value}} / {{../data.attributes.grenades.max}}</label>
                <label class="flex-size-2">{{{data.dmgHtml}}}</label>
                <label class="gun-detail-header"><b>Free Range:</b>&nbsp;{{../data.stats.dmg.modToUse}}</label>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
        {{!-- Throw Action --}}
        <li class="item item-element-group loot-rarity-fade-border flexrow rollable" style="--rarityColor: darkred"
          data-roll-type="item-throw" data-check-type="Throw" data-roll-mod="acc" data-roll-type="throw">
          <div class="item-details attack-block item-attack-roll">
            <div class="item-controls">
              <a class="item-control item-attack" title="Roll Attack"><i class="fa fa-dice-d20"></i></a>
            </div>
            <div class="flexcol item-effec-stack-container">
              <div class="item-effect flexrow item-prop-stack attack-details-line">
                <h4 class="attack-header">Throw Item</h4>
                <label>Throw an item to or at a target.</label>
              </div>
              <div class="item-effect flexrow item-prop-stack attack-details-line damage-row">
                <label><!--Placeholder--></label>
                <label class="flex-size-2"><!--Placeholder--></label>
                <label class="gun-detail-header"><b>Free Range:</b>&nbsp;{{data.stats.dmg.modToUse}}</label>
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>


  
</div>