{{!-- Grenades, Header, and Gold --}}
<div class="flexrow">
  <div class="flexrow flex-size-1 centerize grenade-input">
    <label for="grenade-count-input" class="grenade-input-label flex-size-2 bolded">Grenades: </label>
    {{> "systems/bunkers-and-badasses/templates/general/divided-input.html"
      id="grenade"
      targetObj=system.attributes.grenades targetText="system.attributes.grenades"
      leftDisable=false rightDisable=false
    }}
  </div>
  <div class="flex-size-2 loot-inventory-header-container">
    <label class="loot-inventory-header flexrow">Loot Inventory</label>
  </div>
  <div class="flexrow flex-size-1 centerize gold-input">
    <div class="max-width-50">
      <label for="gold-input" class="gold-input-label flex-size-2 bolded">Gold: </label>
      <input id="gold-input" class="gold-input" value="{{system.gold}}" name="system.gold"
      onfocus="this.select()" type="number" data-dtype="Number"
      />
    </div>
  </div>
</div>
{{!-- Guns --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Guns</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Description</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="gun"><i class="fas fa-plus"></i> Add Gun</a>
    </div>
  </li>
  {{#each guns as |item id|}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
    style="--rarityColor: {{item.system.rarity.colorValue}}"
    data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
        <img class="item-rarity-outline" 
          style="--rarityColor: {{item.system.rarity.colorValue}}" 
          src="{{item.img}}" title="{{item.system.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.system.rarity.colorValue}}">
          {{item.system.rarity.name}} {{shortName item.system.type.name}}</div>
        <h4 class="bolded">{{item.system.prefix.name}} {{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effec-stack-container">
        <div class="item-effect item-prop-stack">
          <div class="gun-row">
            <img id="hits" alt="Hits" class="critshits-icon" src="systems/bunkers-and-badasses/assets/weapons/hits.png" />
            <label class="gun-row-hits">
              {{adder system.accuracy.low.hits ../system.bonus.combat.hits.low ../system.bonus.combat.hits.all}}
              {{adder system.accuracy.mid.hits ../system.bonus.combat.hits.mid ../system.bonus.combat.hits.all}}
              {{adder system.accuracy.high.hits ../system.bonus.combat.hits.high ../system.bonus.combat.hits.all}}
            </label>
            {{{system.dmgPerHitHtml}}}
            <label class="gun-detail-header">  Range:</label>
            <label>{{system.range}} sq</label>
          </div>
        </div>
        <div class="item-effect item-prop-stack">
          <div class="gun-row">
            <img id="crits" alt="Crits" class="critshits-icon" src="systems/bunkers-and-badasses/assets/weapons/crits.png" />
            <label class="gun-row-crits">
              {{adder system.accuracy.low.crits ../system.bonus.combat.crits.low ../system.bonus.combat.crits.all}}
              {{adder system.accuracy.mid.crits ../system.bonus.combat.crits.mid ../system.bonus.combat.crits.all}}
              {{adder system.accuracy.high.crits ../system.bonus.combat.crits.high ../system.bonus.combat.crits.all}}
            </label>
            {{{system.bonusDamageHtml}}}
          </div>
        </div>
        <!--
          <div class="item-effect item-prop-stack">
            <div class="gun-row">
              <label class="gun-detail-header">Effects:</label>
              <label class="large-text-overflow-hidden">
                {{system.prefix.effects}}, {{system.guildBonus}}, {{system.effect}}
              </label>
            </div>
          </div>
        -->
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="system.equipped">
        {{#if item.system.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{log item}}
  {{/each}}
</ol>
{{!-- Shields --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Shield</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Description</label></div>
      <!-- <div class="item-capacity flex-size-5"><label>Class Effect</label></div> -->
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="shield"><i class="fas fa-plus"></i> Add Shield</a>
    </div>
  </li>
  {{#each shields as |item id|}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.system.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">  
          <img class="item-rarity-outline" 
               style="--rarityColor: {{item.system.rarity.colorValue}}" 
               src="{{item.img}}" title="{{item.system.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.system.rarity.colorValue}}">{{item.system.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effect-stack-container">
        <div class="item-effect-stack item-prop-stack">
          <label>{{#if item.system.effect}}<b>Effect</b>:{{/if}} {{item.system.effect}}</label>
        </div>
        <div class="flexrow item-effect-stack item-prop-stack">
          <div class="loot-health">

            <img id="enable{{label}}" alt="{{item.system.healthType}}" 
            class="health-icon" 
            src="systems/bunkers-and-badasses/assets/SHA/{{item.system.healthType}}-{{getBestHealthShade item.system.healthType}}.png" />
            <label> {{item.system.capacity}} {{capitalize (hpTitle item.system.healthType)}} - {{item.system.recoveryRate}} {{capitalize (hpToRecoveryTitle item.system.healthType)}}</label>

            <div class="resist-label"> 
              <label class="resist-label">
                {{#if item.system.resistHtml}}
                Resists: {{{item.system.resistHtml}}}
                {{/if}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="system.equipped">
      {{#if item.system.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{log item}}
  {{/each}}
</ol>
{{!-- Grenades --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Grenade</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Description</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="grenade"><i class="fas fa-plus"></i> Add Grenade</a>
    </div>
  </li>
  {{#each grenades as |item id|}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
    style="--rarityColor: {{item.system.rarity.colorValue}}"
    data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
        <img class="item-rarity-outline" 
          style="--rarityColor: {{item.system.rarity.colorValue}}" 
          src="{{item.img}}" title="{{item.system.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.system.rarity.colorValue}}">{{item.system.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effec-stack-container">
        <div class="item-effect item-prop-stack">
          <label class="item-effect">
            <div>{{#if item.system.effect}}<b>Effect</b>:{{/if}} {{item.system.effect}}</div>
          </label>
        </div>
        <div class="item-effect item-prop-stack">
          <label class="loot-element-damage item-effect item-prop-stack loot-element-damage">
            {{{item.system.dmgHtml}}}
          </label>
        </div>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="system.equipped">
        {{#if item.system.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{log item}}
  {{/each}}
</ol>
{{!-- Relics --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Relic</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Effect</label></div>
      <!-- <div class="item-capacity flex-size-5"><label>Class Effect</label></div> -->
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="relic"><i class="fas fa-plus"></i> Add Relic</a>
    </div>
  </li>
  {{#each relics as |item id|}}
  {{log item}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.system.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
          <img class="item-rarity-outline" 
               style="--rarityColor: {{item.system.rarity.colorValue}}" 
               src="{{item.img}}" title="{{item.system.class}} {{item.name}}" width="24" height="24"/></a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.system.rarity.colorValue}}">{{item.system.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="flexcol item-effect-stack-container">
        <div class="item-effect-stack item-prop-stack">
          <label>{{#if item.system.effect}}<b>Effect</b>:{{/if}} {{item.system.effect}}</label>
        </div>
        <div class="flexrow item-effect-stack item-prop-stack">
          <label>{{#if item.system.classEffect}}<b>{{item.system.class}} Class</b>:{{/if}} {{item.system.classEffect}}</label>
        </div>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="system.equipped">
      {{#if item.system.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
{{!-- Potions --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Potion</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Effect</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="potion"><i class="fas fa-plus"></i> Add Potion</a>
    </div>
  </li>
  {{#each potions as |item id|}}
  {{log item}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
      style="--rarityColor: {{item.system.rarity.colorValue}}"
      data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
          <img class="item-rarity-outline" 
            style="--rarityColor: {{item.system.rarity.colorValue}}" 
            src="{{item.img}}" title="{{item.system.class}} {{item.name}}" width="24" height="24" />
        </a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.system.rarity.colorValue}}">{{item.system.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="item-effect item-prop-left">
        <label class="item-effect">
          <div>{{#if item.system.effect}}<b>Effect</b>:{{/if}} {{item.system.effect}}</div>
        </label>
      </div>
      <!-- <div class="item-detail">
        <label>{{item.system.quantity}}</label>
      </div>
      <div class="item-detail">
        <label>{{item.system.cost}}g</label>
      </div> -->
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="system.equipped">
      {{#if item.system.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
{{!-- Key/Generic Items --}}
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="item-name">Key Item</div>
    <div class="item-details">
      <div class="item-effect flex-size-5"><label>Effect</label></div>
    </div>
    <div class="item-equip">
      <div class="item-equip flex-size-1"><label>Equip?</label></div>
    </div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create Item" data-dtype="key item"><i class="fas fa-plus"></i> Add Item</a>
    </div>
  </li>
  {{#each keyItems as |item id|}}
  {{log item}}
  <li class="item item-element-group loot-rarity-fade-border flexrow" 
    style="--rarityColor: {{item.system.rarity.colorValue}}"
    data-item-id="{{item._id}}">
    <div class="item-name rollable" data-roll-type="item">
      <div class="item-image">
        <a class="rollable" data-roll-type="item">
          <img class="item-rarity-outline" 
          style="--rarityColor: {{item.system.rarity.colorValue}}" 
          src="{{item.img}}" title="{{item.system.class}} {{item.name}}" width="24" height="24"/>
        </a>
      </div>
      <div class="flexcol">
        <div class="bolded font-rarity" style="--rarityColor: {{item.system.rarity.colorValue}}">{{item.system.rarity.name}}</div>
        <h4 class="bolded">{{item.name}}</h4>
      </div>
    </div>
    <div class="item-details">
      <div class="item-effect item-prop-left">
        <label class="item-effect">
          <div>{{#if item.system.effect}}<b>Description</b>:{{/if}} {{item.system.description}}</div>
        </label>
      </div>
    </div>
    <div class="item-equip-control">
      <a class="checkbox" title="Equip Item?" data-target="item" data-item-target="system.equipped">
      {{#if item.system.equipped}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}
      </a>
    </div>
    <div class="item-controls">
      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>