{{!-- Grenades, Header, and Gold --}}
<div class="flexrow">
  <div class="flexrow flex-size-1 centerize gold-input">
    <div class="max-width-50">
      <label for="gold-input" class="gold-input-label flex-size-2 bolded">Gold: </label>
      <input id="gold-input" class="gold-input" value="{{system.gold}}" name="system.gold"
      onfocus="this.select()" type="number" data-dtype="Number"
      />
    </div>
  </div>
  <div class="flex-size-1 loot-inventory-header-container">
    <label class="loot-inventory-header flexrow">Loot Inventory</label>
  </div>
  <div class="flexrow flex-size-1 centerize potion-input">
    <label for="potion-count-input" class="potion-input-label flex-size-2 bolded">Potions: </label>
    {{> "systems/bunkers-and-badasses/templates/general/divided-input.html"
      id="potion" targetObj=potionCount
      leftDisable=true rightDisable=true
    }}
  </div> 
  <div class="flexrow flex-size-1 centerize grenade-input">
    <label for="grenade-count-input" class="grenade-input-label flex-size-2 bolded">Grenades: </label>
    {{> "systems/bunkers-and-badasses/templates/general/divided-input.html"
      id="grenade"
      targetObj=system.attributes.grenades targetText="system.attributes.grenades"
      rightValueOverride=maxGrenades
      leftDisable=false rightDisable=true
    }}
  </div>
</div>

{{!-- Guns --}}
{{> "systems/bunkers-and-badasses/templates/actor/parts/item-list-components/item-list.html"
  items=guns
  itemType="gun"
  
  categoryType="guns"
  headerText="Guns"
  createItemText="Gun"

  allowCreate=true
  allowDelete=true
  equippable=true
  hasRarity=true
  hasPrefix=true
  showSubtype=true
  showNameOnThirdLine=true
}}

{{!-- Shields --}}
{{> "systems/bunkers-and-badasses/templates/actor/parts/item-list-components/item-list.html"
  items=shields
  itemType="shield"
  
  categoryType="shields"
  headerText="Shield Mods"
  createItemText="Shield"

  allowCreate=true
  allowDelete=true
  equippable=true
  hasRarity=true
}}
{{!-- Grenades --}}
{{> "systems/bunkers-and-badasses/templates/actor/parts/item-list-components/item-list.html"
  items=grenades
  itemType="grenade"
  
  categoryType="grenades"
  headerText="Grenade Mods"
  createItemText="Grenade"

  allowCreate=true
  allowDelete=true
  equippable=true
  hasRarity=true
}}

{{!-- Relics --}}
{{> "systems/bunkers-and-badasses/templates/actor/parts/item-list-components/item-list.html"
  items=relics
  itemType="relic"
  
  categoryType="relics"
  headerText="Relic"
  createItemText="Relic"

  allowCreate=true
  allowDelete=true
  equippable=true
  showClass=true
  hasRarity=true
  showNameOnThirdLine=true
}}

{{!-- Potions --}}
{{> "systems/bunkers-and-badasses/templates/actor/parts/item-list-components/item-list.html"
  items=potions
  itemType="potion"
  
  categoryType="potions"
  headerText="Potions"
  createItemText="Potion"

  allowCreate=true
  allowDelete=true
  showItemCount=true
  hasRarity=true
}}

{{!-- Key/Generic Items --}}
{{> "systems/bunkers-and-badasses/templates/actor/parts/item-list-components/item-list.html"
  items=keyItems
  itemType="key item"
  
  categoryType="keyItems"
  headerText="Key Items"
  createItemText="Item"

  allowCreate=true
  allowDelete=true
  equippable=true
  hasRarity=true
}}