<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <div class="flexrow">
        <h1 class="char-name"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <h5 class="char-type"><input name="system.type" type="text" value="{{actor.system.type}}" placeholder="Type"/></h5>
      </div>      
    </div>
  </header>

  <div class="sheet-header">
    {{> "systems/bunkers-and-badasses/templates/actor/parts/npc/header/stats.html" }}
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="action">Action!</a>
    <a class="item" data-tab="loot">Loot Drops</a>
    <a class="item" data-tab="bio">Bio</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Action tab --}}
    <div class="tab action" data-group="primary" data-tab="action">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/npc/action-tab.html"}}
    </div>

    {{!-- Bio Tab --}}
    <div class="tab bio" data-group="primary" data-tab="bio">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/bio-tab.html"}}
    </div>

    {{!-- Droppable Loot --}}
    <div class="tab loot" data-group="primary" data-tab="loot">
       {{> "systems/bunkers-and-badasses/templates/actor/parts/loot-tab.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/effects-tab.html"}}
    </div>

  </section>
</form>

