<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  <button hidden></button> <!-- This is a hack to consume button presses on enter. -->

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    {{!-- Icon --}}
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    
    <div class="header-fields">
      {{!-- Vault Hunter name --}}
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <!-- <div class="resources grid grid-5col"> -->

      {{!-- "flex-group-center" is also defined in the _grid.scss file
      and it will add a small amount of padding, a border, and will
      center all of its child elements content and text. --}}
      
      {{!-- HP Components --}}
      {{> "systems/bunkers-and-badasses/templates/actor/parts/vh/header/healths-block.html"}}
      
      
      {{!-- Stat Components --}}
      {{> "systems/bunkers-and-badasses/templates/actor/parts/vh/header/stats-block.html"}}

    </div>

  </header>
  {{> "systems/bunkers-and-badasses/templates/actor/parts/vh/header/experience-bar.html" }}
  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="action">Action!</a>
    <a class="item" data-tab="items">Loot</a>
    <a class="item" data-tab="builder">Builder</a>
    <a class="item" data-tab="bio">Bio</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each data.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.modToUse" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.modToUse" data-label="{{ability.label}}">{{numberFormat ability.modToUse decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/bunkers-and-badasses/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>

    {{!-- Action! Tab --}}
    <div class="tab action" data-group="primary" data-tab="action">
       {{> "systems/bunkers-and-badasses/templates/actor/parts/vh/action-tab.html"}}
    </div>

    {{!-- Bio Tab --}}
    <div class="tab bio" data-group="primary" data-tab="bio">
       {{> "systems/bunkers-and-badasses/templates/actor/parts/bio-tab.html"}}
    </div>

    {{!-- Loot Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/bunkers-and-badasses/templates/actor/parts/loot-tab.html"}}
    </div>

    {{!-- Builder Tab --}}
    <div class="tab builder" data-group="primary" data-tab="builder">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/vh/builder-tab.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/bunkers-and-badasses/templates/actor/parts/effects-tab.html"}}
    </div>

  </section>
</form>

