<div class="action-skill flexrow">
  <div class="simple-icon flex-size-1">
    <img class='lr-margin-5'
      src="{{item.img}}" title="action-skill-{{item.name}}"
      data-item-id="{{item._id}}"
      width="40" height="40"/>
  </div>
  <div class="base-details flexcol flex-size-3">
    <div><b>Class:</b> {{item.system.class}}</div>
    <div><b>Bonus Uses Per Day:</b> {{item.system.bonusUses}}</div>
  </div>
</div>
<hr />
<div class="description">
  {{{item.system.enriched.description}}}
</div>
{{#if item.system.notes}}
<hr />
<div class="notes">
  <b>Notes:</b>
  <br />
  {{{item.system.enriched.notes}}}
</div>
{{/if}}