<div class="archetype-feat flexrow">
  <div class="simple-icon flex-size-1">
    <img class='lr-margin-5'
      src="{{item.img}}" title="archetype-feat-{{item.name}}"
      width="40" height="40"/>
  </div>
  <div class="base-details flexcol flex-size-3">
    <div><b>Archetype:</b> {{item.system.archetype}}</div>
    <div><b>Requirement:</b> {{#if item.system.requirement}}{{item.system.requirement}}{{else}}None{{/if}}</div>
  </div>
</div>
<hr />
<div class="description">
  {{{enrich item.system.description}}}
</div>