<div class="chat-info-rarity-boarder"
  style="--rarityColor: {{item.system.rarity.colorValue}}">
  <div class="shield flexrow">
    <div class="simple-icon flex-size-1">
      <img class='lr-margin-5 item-rarity-border'
        src="{{item.img}}" title="shield-{{item.name}}"
        style="--rarityColor: {{item.system.rarity.colorValue}}"
        data-item-id="{{item._id}}"
        width="40" height="40"/>
    </div>
    <div class="base-details flexcol flex-size-3 font-rarity item-header-info"
      style="--rarityColor: {{item.system.rarity.colorValue}}">
      <div class="item-rarity-and-type-chat-display">{{item.system.rarity.name}} {{healthType}} Mod</div>
      <div class="item-name-and-chat-display">{{item.name}}</div>
    </div>
  </div>
  <hr />
  <div class="description flexrow">
    <img alt="{{item.system.healthType}}" class="health-type-icon" title="{{capitalize item.system.healthType}}"
      src="systems/bunkers-and-badasses/assets/SHA/{{item.system.healthType}}-{{getBestHealthShade item.system.healthType}}.png" 
    />
    <div class="flexcol health-bonus-details">
      <label class="main-data">{{item.system.capacity}} {{healthType}}</label>
      <label class="sub-data">{{item.system.recoveryRate}} {{capitalize (hpToRecoveryTitle item.system.healthType)}}</label>
    </div>
  </div>
  {{#if resistHtml}}
  <hr />
  <div class="description">
    <span class="description-label"><b>Resistance:</b></span> <span class="description-text">{{{resistHtml}}}</span>
  </div>
  {{/if}}
  {{#if item.system.effect}}
  <hr />
  <div class="description">
    <span class="description-label"><b>Effect:</b></span>
    <br />
    <span class="description-text">{{{item.system.enriched.effect}}}</span>
  </div>
  {{/if}}
  {{> "systems/bunkers-and-badasses/templates/chat/info/components/red-text.html" item=item }}
</div>