:root {
  --theme: cyan;
  --highlight-primary: cyan;
  --highlight-secondary: goldenrod;
  
  --menu-tab-base-rgb: 181, 179, 164;
  --menu-tab: rgb(var(--menu-tab-base-rgb));
  --menu-tab-inactive: rgba(var(--menu-tab-base-rgb), .4);
  --menu-tab-inactive-border: rgba(var(--menu-tab-base-rgb), .6);
  --menu-tab-active: var(--menu-tab);
  
  --focus-text-shadow-primary: 0 0 1px var(--highlight-primary), 0 0 4px var(--highlight-primary);
  --focus-text-shadow-secondary: 0 0 1px var(--highlight-secondary), 0 0 4px var(--highlight-secondary);


  --xp-bar-segment-separator: #10020f;
  --xp-bar-progress: #82e4fb;
  --xp-bar-background: #4b4347;
  
  /* Rarity colors */
  --common:       oklch(58% 0.00714  97);
  --uncommon:     oklch(58% 0.19858 143);
  --rare:         oklch(58% 0.17693 246);
  --epic:         oklch(58% 0.21569 308);
  --legendary:    oklch(58% 0.17097  70);
  
  /* Element colors */
  --kinetic:      oklch(55.024% 0.00005 271.152);
  --incendiary:   oklch(60.205% 0.19247 28.34);
  --corrosive:    oklch(60.362% 0.1215 117.913);
  --shock:        oklch(60.338% 0.0941 259.922);
  --explosive:    oklch(66.477% 0.2055 1.032);
  --radiation:    oklch(66.171% 0.15468 83.12);
  --cryo:         oklch(55.035% 0.11264 221.117);
  --incendiation: oklch(54.188% 0.11917 5.582);
  --corroshock:   oklch(55.724% 0.0577 211.297);
  --crysplosive:  oklch(55.251% 0.08483 291.711);
  --plasma:       oklch(62.792% 0.14135 62.847);
  
  /* Attack stats */
  --hits:              darkblue;
  --crits:             darkred;
  
  /* Gear text */
  --redText:           darkred;
  --anointText:        hsl(330, 37%, 48%);
  
  /* Health types */
  --bone:              oklch(98.732% 0.03008 100.899);
  --bone-high:         oklch(98.732% 0.03008 100.899);
  --bone-low:          oklch(67.826% 0.04244 101.163);
  --bone-light-icon:   oklch(86.995% 0.0001 271.152);
  --bone-dark-icon:    oklch(60.662% 0.00007 271.152);

  --flesh:             oklch(56.444% 0.20089 26.543);
  --flesh-high:        oklch(56.444% 0.20089 26.543);
  --flesh-low:         oklch(46.668% 0.18686 28.685);
  --flesh-light-icon:  oklch(59.253% 0.23995 28.928);
  --flesh-dark-icon:   oklch(48.091% 0.17608 21.731);

  --armor:             hsl(50, 95%, 44%);
  --armor-high:        hsl(50, 95%, 44%);
  --armor-low:         hsl(53, 85%, 33%);
  --armor-light-icon:  hsl(52, 52%, 65%);
  --armor-dark-icon:   hsl(53, 40%, 44%);

  --shield:            hsl(181, 70%, 50%);
  --shield-high:       hsl(181, 70%, 50%);
  --shield-low:        hsl(181, 100%, 35%);
  --shield-light-icon: hsl(180, 62%, 49%);
  --shield-dark-icon:  hsl(186, 52%, 47%);

  --eridian:           hsl(300, 100%, 42%);
  --eridian-high:      hsl(300, 100%, 42%);
  --eridian-low:       hsl(300, 80%, 35%);
  --eridian-light-icon:hsl(274, 99%, 58%);
  --eridian-dark-icon: hsl(274, 80%, 36%);

  --brown-seventeen:   hsl(17, 17%, 17%);

  --isBadass:          hsl(3, 68%, 50%);
}