:root {
  --theme: cyan;
  /* Rarity colors */
  --common: #a5a49f;
  --uncommon: #0ea11f;
  --rare: #00a0ff;
  --epic: #7000a4;
  --legendary: #ffa500;
  /* Element colors. */
  --kinetic: hsl(0, 0%, 30%);
  --incendiary: rgb(213, 59, 49);
  --corrosive: rgb(141, 157, 62);
  --shock: rgb(113, 148, 205);
  --explosive: rgb(234, 70, 134);
  --radiation: rgb(228, 170, 22);
  --cryo: rgb(18, 152, 185);
  --incendiation: rgb(167, 78, 101);
  --corroshock: rgb(73, 125, 135);
  --crysplosive: rgb(115, 105, 160);
  --plasma: rgb(195, 114, 8);
  /* Attack stats. */
  --hits: darkblue;
  --crits: darkred;
  /* Gear text. */
  --redText: darkred;
  --anointText: hsl(330, 37%, 48%);
  /* Health types. */
  --bone:             hsl(53, 100%, 95%);
  --bone-high:        hsl(53, 100%, 95%);
  --bone-low:         hsl(53, 15%, 55%);
  --bone-light-icon:  hsl(0, 0%, 83%);
  --bone-dark-icon:   hsl(0, 0%, 51%);

  --flesh:            hsl(0, 65%, 50%);
  --flesh-high:       hsl(0, 65%, 50%);
  --flesh-low:        hsl(0, 90%, 35%);
  --flesh-light-icon: hsl(0, 92%, 48%);
  --flesh-dark-icon:  hsl(353, 72%, 39%);

  --armor:            hsl(50, 95%, 44%);
  --armor-high:       hsl(50, 95%, 44%);
  --armor-low:        hsl(53, 85%, 33%);
  --armor-light-icon: hsl(52, 52%, 65%);
  --armor-dark-icon:  hsl(53, 40%, 44%);

  --shield:            hsl(181, 70%, 50%);
  --shield-high:       hsl(181, 70%, 50%);
  --shield-low:        hsl(181, 100%, 35%);
  --shield-light-icon: hsl(180, 62%, 49%);
  --shield-dark-icon:  hsl(186, 52%, 47%);

  --eridian:           hsl(300, 100%, 42%);
  --eridian-high:      hsl(300, 100%, 42%);
  --eridian-low:       hsl(300, 80%, 35%);
  --eridian-light-icon:hsl(274, 99%, 58%);
  --eridian-dark-icon: hsl(274, 80%, 36%);

  --brown-seventeen:  hsl(17, 17%, 17%);

  --isBadassText:     hsl(3, 68%, 50%);
}