<div class="chat-roll-result"
data-actor-id="{{actorId}}" data-item-id="{{itemId}}" >

  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/dice-roll-header-component.html" 
    headerLabel = checkType
    difficulty = difficulty
  }}

  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/expandable-dice-roll-component.html" }}

  {{#if itemEffect}}
  <div class="item-effect"><b>Effect:</b> {{{itemEffect}}}</div>
  {{/if}}
  {{#if success}}
  <div class="success-text">Success!</div>
  {{/if}}
  {{#if failure}}
  <div class="failure-text">Failure!</div>
  {{/if}}

  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/attack-roll-item-info.html" 
    item = item
  }}

  {{#if showDamageButton}}
  <div class="chat-damage-buttons">
    <button data-action="damage"
    data-attack-type={{attackType}}
    data-actor-id="{{actorId}}"
    data-item-id="{{itemId}}"
    data-is-nat-20="{{isNat20}}"
    data-flavor="Boom!!">
      Roll Damage
    </button>
  </div>
  {{/if}}
</div>