<div class="chat-roll-result"
data-actor-id="{{actor.id}}" 
{{#if item}}data-item-id="{{item.id}}"{{/if}} >
  
  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/dice-roll-header-component.html" 
    headerLabel = (concat attackLabel " Attack")
  }}
  
  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/expandable-dice-roll-component.html" }}
  
  {{#if success}}
  <div class="success-text">{{#if isNat20}}Crit {{/if}}Hit!</div>
  {{#if bonusCritsText}}<div class="hit-bonus">{{bonusCritsText}}</div>{{/if}}
  {{/if}}
  {{#if failure}}
  <div class="failure-text">Miss!</div>
  {{/if}}
  
  <div class="flexrow gun-crithits">
    <div class="container">
      <img id="hits" alt="Hits" class="critshits-icon" 
      src="systems/bunkers-and-badasses/assets/weapons/hits.svg" />
      <div class="hits-number">{{hits}}</div>
    </div>
    <div class="container">
      <img id="crits" alt="Crits" class="critshits-icon" 
      src="systems/bunkers-and-badasses/assets/weapons/crits.svg" />
      <div class="crits-number">{{crits}}</div>
    </div>
  </div>
  
  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/attack-roll-item-info.html" 
    item = item
  }}
  
  <div class="chat-damage-buttons">
    <button data-action="damage"
    data-actor-id="{{actor.id}}"
    {{#if item}}data-item-id="{{item.id}}"{{/if}}
    data-attack-type="{{attackType}}"
    data-hits={{hits}} data-crits={{crits}}
    data-is-nat-20="{{isNat20}}"
    data-flavor="Pew Pew!">
      Roll Damage
    </button>
  </div>  
</div>