<div class="chat-roll-result"
data-actor-id="{{actorId}}" >
  <div>{{diceRoll}}</div>
  <div>Result: {{result}} = {{total}}</div>
  {{#if success}}
  <div class="success-text">{{#if critHit}}Crit {{/if}}Hit!</div>
  <div class="hit-bonus">{{bonusCritsText}}</div>
  <div class="flexrow gun-crithits">
    <div class="container">
      <img id="hits" alt="Hits" class="critshits-icon" 
      src="systems/bunkers-and-badasses/assets/weapons/hits.png" />
      <div class="hits-number">{{hits}}</div>
    </div>
    <div class="container">
      <img id="crits" alt="Crits" class="critshits-icon" 
      src="systems/bunkers-and-badasses/assets/weapons/crits.png" />
      <div class="crits-number">{{crits}}</div>
    </div>
  </div>
  {{/if}}
  {{#if failure}}
  <div class="failure-text">Failure!</div>
  {{/if}}
  {{#if showDamageButton}}
  <div class="chat-damage-buttons">
    <button data-action="damage"
    data-actor-id="{{actorId}}"
    data-item-id="{{itemId}}" 
    data-hits={{hits}} data-crits={{crits}} 
    data-flavor="Pew Pew!">
      Roll Damage
    </button>
  </div>
  {{/if}}
</div>