<div class="chat-roll-result"
data-actor-id="{{actor.id}}" 
{{#if item}}data-item-id="{{item.id}}"{{/if}} >
  
  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/dice-roll-header-component.html" 
    headerLabel = checkType
    difficulty = difficulty
  }}

  {{> "systems/bunkers-and-badasses/templates/chat/attack-roll-components/expandable-dice-roll-component.html" }}

  {{#if success}}
  <div class="success-text">{{#if isCrit}}Crit{{/if}} Hit!</div>
  <div class="hit-bonus">{{bonusResult}}</div>
  {{/if}}
  {{#if failure}}
  <div class="failure-text">Failure!</div>
  {{/if}}
</div>
