<div class="flexcol elements-container">
  <div class="flex-size-2 elem-reminder-text">Click an element below to enable/disable. Enter {{device}} <b>{{bonus}}</b> for each element as needed.</div>
  <div class="flexrow element-toggle-container">
    {{#each elements as |element key|}}
      {{> "systems/bunkers-and-badasses/templates/item/parts/elemental-toggle-indicator.html"
        element=element elementType=key targetData=../targetData}}
    {{/each}}
  </div>
  <div class="flexrow element-list-container">
    {{#each elements as |element key|}}
      {{#if element.enabled}}
        {{> "systems/bunkers-and-badasses/templates/item/parts/elemental-value-input.html"
          element=element elementType=key targetData=../targetData}}
      {{/if}}
    {{/each}}
  </div>






</div>