<div class="flexcol elements-container">
  <div class="flexrow">
    <div class="flex-size-2 elem-reminder-text">Click an element to enable/disable. Enter {{device}} <b>{{bonus}}</b> for each element as needed.</div>
    <div class="elem-initial">
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.kinetic
        bonusTag=bonusTag
      }}
    </div>
  </div>
  <div class="flexrow">
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.incendiary
        bonusTag=bonusTag
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.radiation
        bonusTag=bonusTag
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.incendiation
        bonusTag=bonusTag
      }}
    </div>
  </div>
  <div class="flexrow">
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.shock
        bonusTag=bonusTag
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.corrosive
        bonusTag=bonusTag
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.corroshock
        bonusTag=bonusTag
      }}
    </div>
  </div>
  <div class="flexrow">
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.explosive
        bonusTag=bonusTag
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.cryo
        bonusTag=bonusTag
      }}
    </div>
    <div>
      {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
        element=elements.crysplosive
        bonusTag=bonusTag
      }}
    </div>
  </div>
</div>