<div class="flexrow">
  <img for="{{label}}-element-input" alt="{{capitalize elementType}}" 
    class="element-selector-icon" src="systems/bunkers-and-badasses/assets/elements/{{capitalize elementType}}.png"
  />
  <label for="{{label}}-element-input" class=" flex-size-2 {{elementType}}-text">{{capitalize elementType}}:</label>
  <input  id="{{label}}-element-input" class="flex-size-1" type="text" type="String" 
    name="{{targetData}}.{{elementType}}.damage"
    value="{{element.damage}}" placeholder="e.g. 1d6" />
</div>