<div class="elemental centerize twocol flexrow">
  <ul class="elemental elemental-list elemental-option-dropdown">
    <li class="init rare">init</li>
    <li class="elemental-option legendary" value="Legendary">NONEZO</li>
    <li class="elemental-option common" value="Common">FIRE</li>
    <li class="elemental-option uncommon" value="Uncommon">ICE</li>
    <li class="elemental-option rare" value="Rare">SHOCK</li>
    <li class="elemental-option epic" value="Epic">CORROSIVE</li>
    <li class="elemental-option legendary" value="Legendary">EXPLODE</li>
  </ul>
</div>