<div class="gun-type centerize flexrow">
  <ul class="gun-type gun-type-list gun-type-option-dropdown">
    <li class="init type-init-{{itemId}}">{{system.type.name}}</li>
    <li class="type-option gtb" value="pistol">Pistol</li>
    <li class="type-option gtb" value="smg">Submachine Gun</li>
    <li class="type-option gtb" value="rifle">Combat Rifle</li>
    <li class="type-option gtb" value="shotgun">Shotgun</li>
    <li class="type-option gtb" value="sniper">Sniper Rifle</li>
    <li class="type-option gtb" value="heavy">Rocket Launcher</li>
  </ul>
</div>