<div class="healthType centerize flexrow">
    <ul class="healthType healthType-list healthType-option-dropdown">
      <li class="init healthType-init">{{data.healthType}}</li>
      <li class="healthType-option" value="eridian">Eridian</li>
      <li class="healthType-option" value="shield">Shield</li>
      <li class="healthType-option" value="armor">Armor</li>
      <li class="healthType-option" value="flesh">Flesh</li>
      <li class="healthType-option" value="bone">Bone</li>
    </ul>
  </div>