<div class="rarity centerize flexrow">
  <ul class="rarity rarity-list rarity-option-dropdown">
    <li class="init rarity-init-{{itemId}} {{system.rarity.value}}">{{system.rarity.name}}</li>
    <li class="rarity-option common" value="Common">Common</li>
    <li class="rarity-option uncommon" value="Uncommon">Uncommon</li>
    <li class="rarity-option rare" value="Rare">Rare</li>
    <li class="rarity-option epic" value="Epic">Epic</li>
    <li class="rarity-option legendary" value="Legendary">Legendary</li>
  </ul>
</div>