<div class="item-body flexrow">
  <div class="red-text">
    <input class="red-text" 
    value="{{system.redText}}" placeholder="Red Text"
    type="text" name="system.redText" data-dtype="String"
    />
  </div>
</div>
<div class="item-body flexrow">
  <div class="flexrow enriched-region enriched-red-text-description">
    {{editor
      enriched.redTextEffect
      placeholder="Placeholder text here"
      target="system.redTextEffect"
      button=true
      editable=editable
    }}
  </div>
</div>
{{#if showRedTextMeaning}}
<div class="bolded bm-alert">— Red Text notes - Only visible to BMs! —</div>
<div class="item-body flexrow">
  <div class="flexrow enriched-region">
    {{editor
      enriched.redTextEffectBM
      target="system.redTextEffectBM"
      placeholder="Placeholder text here"
      button=true
      editable=editable
    }}
  </div>
</div>
{{/if}}