<div class="item-body flexrow">
  <div class="red-text">
    <input class="red-text" 
    value="{{system.redText}}" placeholder="Red Text"
    type="text" name="system.redText" data-dtype="String"
    />
  </div>
</div>
<div class="item-body flexrow">
  <div class="flexrow red-text-description">
    <textarea class="red-text-textarea" name="system.redTextEffect"
      placeholder="Red Text effect, either provided by DM or estimated on usage."
      type="text" rows="5">{{system.redTextEffect}}</textarea>
  </div>
</div>
{{#if showRedTextMeaning}}
<div class="bolded bm-alert">— Red Text notes - Only visible to BMs! —</div>
<div class="item-body flexrow">
  <div class="flexrow red-text-description">
    <textarea class="red-text-textarea" name="system.redTextEffectBM"
    placeholder="BM ONLY - Red Text Notes."
    type="text" rows="5">{{system.redTextEffectBM}}</textarea>
  </div>
</div>
{{/if}}