<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    
    {{!-- Attributes Tab --}}
    <div class="attributes flexcol" data-group="primary">
      {{!-- As you add new fields, add them in here! --}}
      <div class="flexrow">
        <div class="resource flexrow">
          <label class="resource-label bolded flex-size-1">Archetype</label>
          <input class="flex-size-2" 
                 type="text" 
                 name="system.archetype" 
                 value="{{system.archetype}}" 
                 placeholder="Feat's Archetype"/>
        </div>
        <div class="resource flexrow">
          <label class="resource-label bolded flex-size-1">Requirement</label>
          <input class="flex-size-2"
                 type="text" 
                 name="system.requirement" 
                 value="{{system.requirement}}" 
                 placeholder="Requirement (if any)"/>
        </div>
      </div>
      <div class="resource flexcol">
        <label class="resource-label bolded">Description</label>
        <div class="flexrow enriched-region">
          {{editor enriched.description
            target="system.description"
            placeholder="Description of feat's effects."
            button=true
            editable=editable
          }}
        </div>
      </div>
    </div>
  </section>

  
</form>
