<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{system.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{system.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Grenade Type"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html"
          itemId=item.id }}
      </div>
    </div>
  </header>
  
  <div class="flexcol item-sheet">
    <div class="item-body flexrow">
      <div class="item-body item-body-num item-body-num-50 flexrow item-tag-group">
      </div>
      <div class="item-body item-body-num flexrow item-tag-group">
        <label for="level-input-{{item.id}}" class="flex-size-2">Level</label>
        <input id="level-input-{{item.id}}" class="flex-size-1"
          value="{{system.level}}" name="system.level"
          type="number" data-dtype="Number"
          />
      </div>
      <div class="item-body flexrow">
        <label for="guild-input-{{item.id}}">Guild</label>
        <input id="guild-input-{{item.id}}" class="flexlarge" 
          value="{{system.guild}}" name="system.guild"
          type="text" data-dtype="String"
          />
      </div>
      <div class="item-body item-body-num item-body-num-50 flexrow item-tag-group">
        <label for="guild-input-{{item.id}}">Cost</label>
        <input id="guild-input-{{item.id}}" class="" 
          value="{{system.cost}}" name="system.cost"
          type="number" data-dtype="Number" />
      </div>
    </div>
    {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
      device="grenade" bonus="damage" stat="damage"
      elements=system.elements
      targetData="system.elements"
    }}
    <div class="item-body flexrow">
    <label for="effect-input-{{item.id}}">Effect</label>
    <input id="effect-input-{{item.id}}" class="flex-size-4" 
      value="{{system.effect}}" name="system.effect"
      type="text"  data-dtype="String"
      />
  </div>
  {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
  {{> "systems/bunkers-and-badasses/templates/item/parts/anointment.html" }}
</form>