<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{data.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{data.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Shield Name"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html" 
          itemId=item.id }}
      </div>
    </div>
  </header>

  <div class="flexcol item-sheet">
    <div class="flexrow">
      <div class="shield-stats-container shield-stats-container-left flexrow flex-size-7">
        {{!-- Level --}}
        <div class="item-body item-body-num flexrow flex-size-4 item-tag-group">
          <label for="level-input-{{item.id}}" class="flex-size-1">Level</label>
          <input id="level-input-{{item.id}}" class="flex-size-1"
          value="{{data.level}}" name="data.level"
          type="number" data-dtype="Number"
          />
        </div>
        {{!-- Guild --}}
        <div class="item-body item-body-space flexrow flex-size-7">
          <label for="guild-input-{{item.id}}">Guild</label>
          <input id="guild-input-{{item.id}}" class="flexlarge" 
          value="{{data.guild}}" name="data.guild"
          type="text" data-dtype="String"
          />
        </div>
      </div>
      <div class="shield-stats-container shield-stats-container-right flexrow flex-size-12">
        {{!-- Health Type? --}}
        <div class="item-body item-body-num flexrow">
          <label>Protection Type</label>
          {{> "systems/bunkers-and-badasses/templates/item/parts/health-type-dropdown.html"
            itemId=item.id 
            healthType=data.healthType }}
        </div>
        {{!-- Capacity --}}
        <div class="item-body item-body-num flexrow">
          <label for="capacity-input-{{item.id}}">Capacity</label>
          <input id="capacity-input-{{item.id}}" class="flexlarge" 
          value="{{data.capacity}}" name="data.capacity"
          type="number" data-dtype="Number"
          />
        </div>
        {{!-- Recharge --}}
        <div class="item-body item-body-num flexrow">
          <label for="recharge-input-{{item.id}}">
            {{hpToRecoveryTitle data.healthType true}}
          </label>
          <input id="recharge-input-{{item.id}}" class="flexlarge" 
          type="text" data-dtype="String"
          value="{{data.recoveryRate}}" name="data.recoveryRate"
          />
        </div>
      </div>
    </div>
    {{> "systems/bunkers-and-badasses/templates/item/parts/damage-entry.html"
      device="shield"
      bonus="resistance" bonusTag="res"
      elements=data.elements
    }}
    <div class="item-body flexrow">
    <label for="effect-input-{{item.id}}">Effect</label>
    <input id="effect-input-{{item.id}}" class="flex-size-4" 
      value="{{data.effect}}" name="data.effect"
      type="text"  data-dtype="String"
      />
  </div>

  {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
</form>




 resistance, nova, regen