<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{system.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{system.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Relic Type"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html" 
          itemId=item.id }}
      </div>
    </div>
  </header>
  
  <div class="flexcol item-sheet">
    <div class="item-body flexrow">
      <div class="item-body flexrow"><!-- Just a space taker. I'm sure there's better ways. --></div>
      <div class="item-body flexrow">
        <label for="class-input-{{item.id}}">Class</label>
        <input id="class-input-{{item.id}}" class="flexlarge" 
          value="{{system.class}}" name="system.class"
          type="text" data-dtype="String"
          />
      </div>
    </div>
    <div class="item-body flexrow">
      <label for="effect-input-{{item.id}}">Effect</label>
      <input id="effect-input-{{item.id}}" class="flexlarge" 
        value="{{system.effect}}" name="system.effect"
        type="text"  data-dtype="String"
        />
      <label for="class-effect-input-{{item.id}}">Class Effect</label>
      <input id="class-effect-input-{{item.id}}" class="flexlarge" 
        value="{{system.classEffect}}" name="system.classEffect"
        type="text" data-dtype="String"
        />
    </div>
    {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
</form>