<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{data.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{data.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Relic Type"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html" }}
      </div>
    </div>
  </header>
  
  <div class="flexcol item-sheet">
    <div class="item-body flexrow">
      <div class="item-body item-body-num item-body-num-50 flexrow item-tag-group">
      </div>
      <div class="item-body item-body-num flexrow item-tag-group">
        <label class="flex-size-2">Level</label>
        <input class="flex-size-1"
          value="{{data.level}}" name="data.level"
          type="number" data-dtype="Number"
          />
      </div>
      <div class="item-body flexrow">
        <label>Guild</label>
        <input class="flexlarge" 
          value="{{data.guild}}" name="data.guild"
          type="text" data-dtype="String"
          />
      </div>
      <div class="item-body item-body-num item-body-num-50 flexrow item-tag-group">
      </div>
    </div>
    {{> "systems/bunkers-and-badasses/templates/dialog/damage-entry.html"
      device="grenade"
      bonus="damage" bonusTag="dmg"
      elements=data.elements
    }}
    <div class="item-body flexrow">
    <label>Effect</label>
    <input class="flex-size-4" 
      value="{{data.effect}}" name="data.effect"
      type="text"  data-dtype="String"
      />
  </div>
  {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
</form>