<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="item-body">
    {{!-- Skill Details --}}
    <div class="flexcol">
      <div class="description flexcol margin-2">
        <div class="flexrow align-center">
          
          <div class="flex-size-8 enriched-editor-title">
            <label class="item-label">Description</label>
          </div>
          <div class="flexrow margin-2 flex-size-7">
            <label for="tier-input" class="bolded class-skill-labels lr-padding-2 flex-size-2">Tier</label>
            <input id="tier-input" class="flex-size-1" value="{{system.tier}}" name="system.tier"
              onfocus="this.select()" type="number" data-dtype="Number"/>
          </div>
          <div class="flexrow margin-2 flex-size-8">
            <label for="skill-level-input" class="bolded class-skill-labels lr-padding-2 flex-size-5">Skill Level (SL)</label>
            <input id="skill-level-input" class="flex-size-1" value="{{system.skillLevel}}" name="system.skillLevel"
              onfocus="this.select()" type="number" data-dtype="Number" />
          </div>

        </div>
        <div class="flexrow enriched-region">
          {{editor enriched.description
            target="system.description"
            placeholder="Description of class skill's effects."
            button=true
            editable=editable
          }}
        </div>
      </div>
    </div>
  </section>
</form>
