<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  <!-- {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav> -->

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <!-- {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div> -->
    
    {{!-- Attributes Tab --}}
    <div class="attributes flexcol" data-group="primary">
      {{!-- As you add new fields, add them in here! --}}
      <div class="flexrow">
        <div class="resource flexrow">
          <label class="resource-label flex-size-1">Archetype</label>
          <input class="flex-size-2" 
                 type="text" 
                 name="data.archetype" 
                 value="{{data.archetype}}" 
                 placeholder="Feat's Archetype"/>
        </div>
        <div class="resource flexrow">
          <label class="resource-label flex-size-1">Requirement</label>
          <input class="flex-size-2"
                 type="text" 
                 name="data.requirement" 
                 value="{{data.requirement}}" 
                 placeholder="Requirement (if any)"/>
        </div>
      </div>
      <div class="resource col">
        <label class="resource-label">Description</label>
        <textarea type="text" 
                  rows="4"
                  name="data.description"
                  placeholder="Description of feat's effects.">{{data.description}}</textarea>
      </div>
    </div>
  </section>

  
</form>
