<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{system.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{system.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Relic Type"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html" 
          itemId=item.id }}
      </div>
    </div>
  </header>
  
  <section class="item-body">
    <div class="flexcol item-sheet">

      {{!-- Row 1 --}}
      <div class="flexcol">

        {{!-- Effect --}}
        <div class="flexrow lr-margin-2">
          <div class="flexrow flex-size-5 enriched-editor-title">
            <label for="effect-input-{{item.id}}">Effect</label>
          </div>
          {{!-- Cost Section --}}
          <div class="item-body flex-size-2 flexrow lr-margin-5">
            <div><!-- Just a space taker. I'm sure there's better ways. --></div>
            <label for="effect-input-{{item.id}}" class="flex-size-2">Cost</label>
            <input id="effect-input-{{item.id}}" class="flex-size-2"
            value="{{system.cost}}" name="system.cost"
            type="number" data-dtype="Number" />
            <div class="flex-size-2"><!-- Just a space taker. I'm sure there's better ways. --></div>
          </div>
        </div>
        <div class="flexrow enriched-region">
          {{editor enriched.effect
            target="system.effect"
            placeholder="Description of generic effect."
            button=true
            editable=editable
          }}
        </div>
      </div>

      {{!-- Row 2 --}}
      <div class="flexcol"> 

        {{!-- Class Specific Effect --}}
        <div class="flexrow lr-margin-2">
          <div class="flexrow flex-size-5 enriched-editor-title">
            <label for="class-effect-input-{{item.id}}">Class Effect</label>
          </div>
          {{!-- Relic Class --}}
          <div class="item-body flexrow flex-size-2 lr-margin-2">
            <label for="class-input-{{item.id}}">Class</label>
            <input id="class-input-{{item.id}}" class="flex-size-3" style="margin-left:3px;"
            value="{{system.class}}" name="system.class"
            type="text" data-dtype="String"/>
          </div>
        </div>
        <div class="flexrow enriched-region">
          {{editor enriched.classEffect
            target="system.classEffect"
            placeholder="Description of class effect."
            button=true
            editable=editable
          }}
        </div>

      </div>

      {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
      {{> "systems/bunkers-and-badasses/templates/item/parts/anointment.html" }}
    </div>
  </section>
</form>