<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{system.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header item-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{system.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Gun Name"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html"
          itemId=item.id }}
      </div>
    </div>
  </header>

  <div class="flexcol item-sheet">

    <div class="flexrow">
      <div class="flexcol acc-hits-container">
        <div class="flexrow">
          <label class="bolded">Acc</label>
          <label class="crit-hit hit">Hits</label>
          <label class="crit-hit crit">Crits</label>
        </div>
        <div class="flexrow">
          <label class="gun-acc-text">2-7</label>
          <div class="crit-hit hit">
            <input class="flex-size-1 crit-hit hit"
            onfocus="this.select()"
            value="{{system.accuracy.low.hits}}" name="system.accuracy.low.hits"
            type="number" data-dtype="Number" />
          </div>
          <div class="crit-hit crit">
            <input class="flex-size-1 crit-hit crit"
            onfocus="this.select()"
            value="{{system.accuracy.low.crits}}" name="system.accuracy.low.crits"
            type="number" data-dtype="Number" />
          </div>
        </div>
        <div class="flexrow">
          <label class="gun-acc-text">8-15</label>
          <div class="crit-hit hit">
            <input class="flex-size-1 crit-hit hit"
            onfocus="this.select()"
            value="{{system.accuracy.mid.hits}}" name="system.accuracy.mid.hits"
            type="number" data-dtype="Number" />
          </div>
          <div class="crit-hit crit">
            <input class="flex-size-1 crit-hit crit"
            onfocus="this.select()"
            value="{{system.accuracy.mid.crits}}" name="system.accuracy.mid.crits"
            type="number" data-dtype="Number" />
          </div>
        </div>
        <div class="flexrow">
          <label class="gun-acc-text">16-20</label>
          <div class="crit-hit hit">
            <input class="flex-size-1 crit-hit hit"
            onfocus="this.select()"
            value="{{system.accuracy.high.hits}}" name="system.accuracy.high.hits"
            type="number" data-dtype="Number" />
          </div>
          <div class="crit-hit crit">
            <input class="flex-size-1 crit-hit crit"
            onfocus="this.select()"
            value="{{system.accuracy.high.crits}}" name="system.accuracy.high.crits"
            type="number" data-dtype="Number" />
          </div>
        </div>
      </div>


      <div class="flex-size-2 flexcol ">
        <div class="flexrow gun-center-container bolded">
          <div class="centerize"> 
            <label for="level-input-{{item.id}}" class="flex-size-1">Level</label>
            <input id="level-input-{{item.id}}" class="flex-size-1"
            onfocus="this.select()"
            value="{{system.level}}" name="system.level"
            type="number" data-dtype="Number"
            />
          </div>
          <div class="centerize">
            <label for="range-value flex-size-3 bolded">Range</label>
            <input id="range-value" class="gun-center-entry"
            onfocus="this.select()"
            value="{{system.range}}" name="system.range"
            type="number" data-dtype="Number" />
          </div>
          <div class="centerize flex-size-2">
            <label for="bonus-crit flex-size-4 bolded">Bonus Crit Dmg</label>
            <input id="bonus-crit" class="gun-center-entry"
            onfocus="this.select()"
            value="{{system.bonusCritDmg}}" name="system.bonusCritDmg"
            type="number" data-dtype="Number" />
          </div>
        </div>
        <div class="flexrow gun-center-contain">
          <div class="item-body flexrow">
            <label for="prefix-input-{{item.id}}">Prefix</label>
            <input id="prefix-input-{{item.id}}" class="flex-size-2"
              onfocus="this.select()"
              value="{{system.prefix.name}}" name="system.prefix.name"
              type="text" data-dtype="String"
              />
          </div>
          <div class="item-body flexrow flex-size-2">
            <label for="prefix-bonus-input-{{item.id}}">Bonus</label>
            <input id="prefix-bonus-input-{{item.id}}" class="flex-size-4"
              onfocus="this.select()"
              value="{{system.prefix.effects}}" placeholder="Prefix Bonus" name="system.prefix.effects"
              type="text" data-dtype="String"
              />
          </div>
        </div>
        <div class="flexrow gun-center-contain">
          <div class="item-body flexrow">
            <label for="guild-input-{{item.id}}">Guild</label>
            <input id="guild-input-{{item.id}}" class="flex-size-2"
            onfocus="this.select()"
              value="{{system.guild}}" name="system.guild"
              type="text" data-dtype="String"
              />
          </div>
          <div class="item-body flexrow flex-size-2">
            <label for="guild-bonus-input-{{item.id}}">Bonus</label>
            <input id="guild-bonus-input-{{item.id}}" class="flex-size-4" 
            onfocus="this.select()"
              value="{{system.guildBonus}}" placeholder="Guild Bonus" name="system.guildBonus"
              type="text" data-dtype="String"
              />
          </div>
        </div>
        <div class="flexrow gun-center-container">
          <div class="flexrow centerize">
            <label for="gun-type" class="bolded">Gun Type:</label>
            {{> "systems/bunkers-and-badasses/templates/item/parts/gun-type-dropdown.html" 
              itemId=item.id }}
          </div>
        </div>
        <div class="flexrow gun-center-contain">
          <label for="gun-info" class="bolded">Gun Info</label>
          <input id="gun-info" class="flex-size-3"
          onfocus="this.select()"
            value="{{system.effect}}" name="system.effect"
            type="text" data-dtype="String" />
        </div>
      </div>
    </div>
    {{!-- Elemental selection section --}}
    <div class="item-body flexrow">
      {{> "systems/bunkers-and-badasses/templates/item/parts/damage-entry.html"
        device="gun"
        bonus="damage" bonusTag="dmg"
        elements=system.elements
      }}
    </div>
    <div class="flexcol stat-mod-mod-header">
      <label class="stat-mod-mod-title">Gun Stat Mod Bonuses/Penalties</label>
      <label class="stat-mod-mod-reminder-text">Aka Stat Mod Mods.</label>
    </div>
    <div class="item-body flexrow">
      <div class="flexrow">
        <div class="flexrow flex-group-center flex-size-2 gun-char-stats-section">
          <label class="flex-size-2">Acc Mod</label>
          +<input 
          name="system.statMods.acc" 
          value="{{system.statMods.acc}}"
          onfocus="this.select()"
          type="number" data-dtype="Number" />
          <label class="flex-size-2">Dmg Mod</label>
          +<input 
          name="system.statMods.dmg" 
          value="{{system.statMods.dmg}}"
          onfocus="this.select()"
          type="number" data-dtype="Number" />
          <label class="flex-size-2">Spd Mod</label>
          +<input 
          name="system.statMods.spd" 
          value="{{system.statMods.spd}}"
          onfocus="this.select()"
          type="number" data-dtype="Number" />
          <label class="flex-size-2">Mst Mod</label>
          +<input 
          name="system.statMods.mst" 
          value="{{system.statMods.mst}}"
          onfocus="this.select()"
          type="number" data-dtype="Number" />
        </div>
      </div>
    </div>
    {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
  </div>
</form>
