<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{system.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{system.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Relic Type"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html" 
          itemId=item.id }}
      </div>
    </div>
  </header>
  
  <div class="flexcol item-sheet">
    {{!-- Row 1 --}}
    <div class="item-body flexrow">

      {{!-- Relic Class --}}
      <div class="item-body flexrow flex-size-2 lr-margin-2">
        <label for="class-input-{{item.id}}">Class</label>
        <input id="class-input-{{item.id}}" class="flex-size-3" style="margin-left:3px;"
        value="{{system.class}}" name="system.class"
        type="text" data-dtype="String"/>
      </div>

      {{!-- Cost Section --}}
      <div class="item-body flexrow lr-margin-5">
        <div><!-- Just a space taker. I'm sure there's better ways. --></div>
        <label for="effect-input-{{item.id}}" class="flex-size-2">Cost</label>
        <input id="effect-input-{{item.id}}" class="flex-size-2"
        value="{{system.cost}}" name="system.cost"
        type="number" data-dtype="Number" />
        <div class="flex-size-2"><!-- Just a space taker. I'm sure there's better ways. --></div>
      </div>

    </div>

    {{!-- Row 2 --}}
    <div class="item-body flexrow">

      {{!-- Effect --}}
      <div class="item-body flexrow lr-margin-2">
        <label for="effect-input-{{item.id}}">Effect</label>
        <input id="effect-input-{{item.id}}" class="flex-size-5"
        value="{{system.effect}}" name="system.effect"
        type="text"  data-dtype="String" />
      </div>

    </div>

    {{!-- Row 3 --}}
    <div class="item-body flexrow"> 

      {{!-- Class Specific Effect --}}
      <div class="item-body flexrow lr-margin-2">
        <label for="class-effect-input-{{item.id}}">Class Effect</label>
        <input id="class-effect-input-{{item.id}}" class="flex-size-5"
        value="{{system.classEffect}}" name="system.classEffect"
        type="text" data-dtype="String" />
      </div>

    </div>

    {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}

  </div>
</form>