<form class="item-form-rarity {{cssClass}}" style="--rarityColor: {{system.rarity.colorValue}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img item-rarity-border" 
          style="--rarityColor: {{system.rarity.colorValue}}" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flexrow">
      <div class="flex-size-3">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Shield Name"/></h1>
      </div>
      <div class="item-body centerize">
        {{> "systems/bunkers-and-badasses/templates/item/parts/rarity-dropdown.html" 
          itemId=item.id }}
      </div>
    </div>
  </header>

  <div class="flexcol item-sheet">
    <div class="flexrow">
      <div class="shield-stats-container shield-stats-container-left flexrow flex-size-7">
        {{!-- Level --}}
        <div class="item-body item-body-num flexcol flex-size-4 item-tag-group">
          <label for="level-input-{{item.id}}" class="flex-size-1">Level</label>
          <input id="level-input-{{item.id}}" class="flex-size-1"
          value="{{system.level}}" name="system.level"
          onfocus="this.select()" type="number" data-dtype="Number" />
        </div>
        {{!-- Guild --}}
        <div class="item-body item-body-space flexcol flex-size-7">
          <label for="guild-input-{{item.id}}">Guild</label>
          <input id="guild-input-{{item.id}}" class="" 
          value="{{system.guild}}" name="system.guild"
          onfocus="this.select()" type="text" data-dtype="String" />
        </div>
        <div class="item-body item-body-num flexcol flex-size-7">
          <label for="cost-input-{{item.id}}">Cost</label>
          <input id="cost-input-{{item.id}}" class="" 
          value="{{system.cost}}" name="system.cost"
          onfocus="this.select()" type="number" data-dtype="Number" />
        </div>
      </div>
      <div class="shield-stats-container shield-stats-container-right flexrow flex-size-12">
        {{!-- Health Type? --}}
        <div class="item-body item-body-num flexcol">
          <label>Protection Type</label>
          {{> "systems/bunkers-and-badasses/templates/item/parts/health-type-dropdown.html"
            itemId=item.id 
            healthType=system.healthType }}
        </div>
        {{!-- Capacity --}}
        <div class="item-body item-body-num flexcol">
          <label for="capacity-input-{{item.id}}">Capacity</label>
          <input id="capacity-input-{{item.id}}" class="" 
          value="{{system.capacity}}" name="system.capacity"
          onfocus="this.select()" type="number" data-dtype="Number" />
        </div>
        {{!-- Recharge --}}
        <div class="item-body item-body-num flexcol">
          <label for="recharge-input-{{item.id}}">
            {{capitalize (hpToRecoveryTitle system.healthType)}}
          </label>
          <input id="recharge-input-{{item.id}}" class="" 
          value="{{system.recoveryRate}}" name="system.recoveryRate"
          onfocus="this.select()" type="text" data-dtype="String" />
        </div>
      </div>
    </div>
    {{> "systems/bunkers-and-badasses/templates/item/parts/element-entry-section.html"
      device="shield" bonus="damage resistance" stat="damage"
      elements=system.elements
      targetData="system.elements"
    }}
    <div class="item-body flexrow">
      <div class="enriched-editor-title">
        <label for="effect-input-{{item.id}}">Effect</label>
      </div>
    </div>
    <div class="flexrow enriched-region">
      {{editor enriched.effect
        target="system.effect"
        placeholder="Effect of the shield."
        button=true
        editable=editable
      }}
    </div>
    {{> "systems/bunkers-and-badasses/templates/item/parts/red-text.html" }}
    {{> "systems/bunkers-and-badasses/templates/item/parts/anointment.html" }}
  </div>
</form>