<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="item-body">
    
    {{!-- Archetype Feat Details --}}
    <div class="flexcol">
      <div class="description flexcol margin-2">
        <div class="flexrow align-center">
          
          <div class="flex-size-8 archetype-feat-description-title">
            <label class="item-label">Description</label>
          </div>
          <div class="flexrow margin-2 flex-size-10">
            <label for="archetype-input" class="bolded archetype-feat-labels lr-padding-2 flex-size-3">Archetype</label>
            <input id="archetype-input" class="flex-size-10" value="{{system.archetype}}" name="system.archetype"
              onfocus="this.select()" type="text" data-dtype="String"/>
          </div>
          <div class="flexrow margin-2 flex-size-10">
            <label for="requirement-input" class="bolded archetype-feat-labels lr-padding-2 flex-size-5">Requirement</label>
            <input id="requirement-input" class="flex-size-10" value="{{system.requirement}}" name="system.requirement"
              onfocus="this.select()" type="text" data-dtype="String" />
          </div>

        </div>
        <div class="flexrow enriched-region">
          {{editor enriched.description
            target="system.description"
            placeholder="Description of archetype feat's effects."
            button=true
            editable=editable
          }}
        </div>
      </div>
    </div>
  </section>
</form>