# Build files and create release assets

on:
  release:
    #branches: [release, main, dev, big-prompt-and-chat-post-updates]
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Node.js environment
        run: |
          npm ci
      - name: Convert JSON to DB
        run: node ./build-scripts/build-packs.js

      - name: Zip Files and Upload Release Assets
        working-directory: ./
        run: |
          zip -r ./bunkers-and-badasses.zip ./* -x ./.git/**\* ./.github/**\* ./node_modules/**\* ./build-scripts/**\* ./bunkers-and-badasses.zip ./bunkers-and-badasses.tar.gz
          gh release upload ${{github.event.release.tag_name}} bunkers-and-badasses.zip
          gh release upload ${{github.event.release.tag_name}} Attributes-for-Effects.txt
          gh release upload ${{github.event.release.tag_name}} roll-builder-deets.txt
          gh release upload ${{github.event.release.tag_name}} system.json updates.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash